<!DOCTYPE html>
<html class="no-js" lang="ZXX">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="thumbnail" content="/images/eduna-page-thumbnail.html" />
    <meta name="description" content="Eduna - Online Education Courses HTML5 Template" />
    <meta name="keywords" content="Online Education Courses HTML5 Template" />
    <meta name="author" content="Trivlogic" />

    <title>IIMF | Home</title>
    <link rel="shortcut icon" href="/images/iimf/logo.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/css/bootstrap.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/css/animate.min.css" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/plugins/css/owl.carousel.min.css" />
    <!-- Swiper Slider CSS -->
    <link rel="stylesheet" href="/plugins/css/swiper-bundle.min.css" />
    <!-- Maginific Popup CSS -->
    <link rel="stylesheet" href="/plugins/css/maginific-popup.min.css" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/plugins/css/nice-select.min.css" />
    <!-- Icofont -->
    <link rel="stylesheet" href="/plugins/css/icofont.css" />
    <!-- Uicons -->
    <link rel="stylesheet" href="/plugins/css/uicons.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <style>



    </style>
</head>

<body class="element-wrapper">
    <!-- Start Preloader  -->
    <div id="preloader">
        <div id="ed-preloader" class="ed-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Custom Cursor Start -->
    <div id="ed-mouse">
        <div id="cursor-ball"></div>
    </div>
    <!-- Custom Cursor End -->
 <!-- Start Mobile Menu Offcanvas -->
 <div class="modal mobile-menu-modal offcanvas-modal fade" id="offcanvas-modal">
    <div class="modal-dialog offcanvas-dialog">
        <div class="modal-content">
            <div class="modal-header offcanvas-header">
                <!-- Mobile Menu Logo -->
                <div class="offcanvas-logo">
                    <a href="/"><img loading="lazy" src="/images/iimf/logo.png" alt="#" /></a>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi fi-ss-cross"></i>
                </button>
            </div>
            <div class="mobile-menu-modal-main-body">
                <!-- Mobile Menu Navigation -->
                <nav class="offcanvas__menu">
                    <ul class="offcanvas__menu_ul">
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/">Home</a>

                        </li>

                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/courses">Courses</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/assesment">Assessment</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/studyAbroad">Study Abroad</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/ielts-pte">Ielts & Pte</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/languageTraining">Language Training</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/corporates">Corporates</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/school-campus">School To Campus</a>


                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/campus-corporates">Campus To Corporates </a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/events">Events</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/gallery">Gallery</a>

                        </li>


                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/about">About</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/blogs">News</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item active" href="/career">Find Jobs</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Menu Offcanvas -->

   <!-- Start Topbar Area  -->
   <div class="ed-topbar">
    <div class="container ed-container-expand">
        <div class="ed-topbar__inner">
            <!-- Logo  -->
            <div class="ed-topbar__logo">
                <a href="/">
                    <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                </a>
            </div>

            <!-- Category Dropdown -->
            <div class="ed-topbar__search-widget">
                <div class="ed-topbar__category">
                    <form id="categoryForm" action="/courses" method="get" style="margin-bottom:0;">
                        <select name="category" id="categorySelect" onchange="document.getElementById('categoryForm').submit()">
                          <option value="">All Categories</option>
                          <% courseCategories.forEach(function(category) { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                          <% }) %>
                        </select>
                      </form>
                </div>
                <div class="ed-topbar__search">
                    <form action="/courses" method="get">
                        <input type="search" name="search" placeholder="Search your courses..." required />
                        <button type="submit">Search<i class="fi-rr-search"></i></button>
                    </form>
                </div>
            </div>

            <!-- Topbar Info -->
            <div class="ed-topbar__info">
                <!-- Topbar Social -->
                <ul class="ed-topbar__info-social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><img loading="lazy"
                                src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/" target="_blank"><img loading="lazy" src="/images/iimf/twitter.png"
                                alt="icon-dark-facebook" /></a>
                    </li>
                    <li>
                        <a href="https://www.dribbble.com/" target="_blank"><img loading="lazy" src="/images/iimf/yt.png"
                                alt="icon-dark-facebook" /></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><img loading="lazy"
                                src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                    </li>
                </ul>
                <!-- Topbar Button -->
                <% if (user) { %>
                    <div class="ed-topbar__info-buttons">
                        <a href="/profile" class="ed-btn my-account-btn">My Account</a>
                    </div>
                <% } else { %>
                    <div class="ed-topbar__info-buttons">
                        <button type="button" class="register-btn" data-bs-toggle="modal"
                            data-bs-target="#registerModal">
                            Register
                        </button>
                        <button type="button" class="login-btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Log In
                        </button>
                    </div>
                <% } %>

                <!-- Mobile Menu Button -->
                <button type="button" class="mobile-menu-offcanvas-toggler" data-bs-toggle="modal"
                    data-bs-target="#offcanvas-modal">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
                <!-- End Mobile Menu Button -->
            </div>
        </div>
    </div>
</div>
<!-- End Topbar Area -->

<!-- Start Header Area -->
<header class="ed-header">
    <div class="container ed-container-expand">
        <div class="ed-header__inner">
            <div class="row align-items-center justify-center">
                <div class="col-lg-12 col-12">
                    <!-- Navigation Menu -->
                    <nav class="ed-header__navigation flex justify-center text-center">
                        <ul class="ed-header__menu">
                            <li >
                                <a href="/">Home</a>

                            </li>
                            <li >
                                <a href="/courses">Courses</a>

                            </li>

                            <li>
                                <a href="/studyAbroad">Study Abroad</a>
                            </li>
                            <li>
                                <a href="/assesment">Skill Challenge</a>
                            </li>



                            <li>
                                <a href="/ielts-pte">IELTS & PTE</a>

                            </li>
                            <li>
                                <a href="/languageTraining">Language Training</a>

                            </li>


                            <li>
                                <a href="/corporates"> Corporates </a>

                            </li>
                            <li>
                                <a href="javascript:void(0)">Summer Camp<i
                                        class="fi fi-ss-angle-small-down"></i></a>
                                <ul class="sub-menu">


                                    <li><a href="/school-campus">School to Campus</a></li>
                                    <li>
                                        <a href="/campus-corporates">Campus to Corporate</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/blogs">News</a>

                            </li>


                            <li>
                                <a href="/about">About</a>

                            </li>
                            <li class="active">
                                <a href="/career">Find Jobs</a>

                            </li>



                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                <!-- Start Hero Area -->
                <div>
                    <section class="ed-hero ed-hero--style3">
                        <div class="owl-carousel ed-hero__slider">
                            <!-- Single Slider -->
                            <div class="ed-hero__slider-item">
                                <img src="/images/hero/home-3/hero-img-1.jpg" alt="hero-img-1" />
                            </div>
                            <!-- Single Slider -->
                            <div class="ed-hero__slider-item">
                                <img src="/images/hero/home-3/hero-img-2.jpg" alt="hero-img-2" />
                            </div>
                            <!-- Single Slider -->
                            <div class="ed-hero__slider-item">
                                <img src="/images/hero/home-3/hero-img-3.jpg" alt="hero-img-3" />
                            </div>
                        </div>

                        <div class="container ed-container-expand">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-12">
                                    <!-- Hero Content -->
                                    <div class="ed-hero__content text-center">
                                        <h1 class="ed-hero__content-title text-white ed-split-text left">
                                            Find Your
                                            Dream Job Today
                                        </h1>
                                        <p class="text-white ">
                                            Explore thousands of opportunities, connect with top employers, and land
                                            your ideal job with ease.
                                        </p>
                                        <div class="ed-hero__search p-0">
                                            <form action="/career" method="get" class="ed-hero__search-form">
                                                <input type="search" name="search"
                                                    placeholder="Search for jobs, companies or skills"
                                                    value="<%= typeof search !== 'undefined' ? search : '' %>" />
                                                <button type="submit">Search<i class="fi-rr-search"></i></button>
                                            </form>
                                            <ul class="ed-hero__tags justify-content-center">
                                                <% if (jobCategories && jobCategories.length) { %>
                                                    <% jobCategories.slice(0, 5).forEach(function(category) { %>
                                                        <li>
                                                            <a href="/career?<%= search ? 'search=' + encodeURIComponent(search) + '&' : '' %>category=<%= encodeURIComponent(category) %>"
                                                                <%= currentCategory === category ? 'class="active"' : '' %>>
                                                                <%= category %>
                                                            </a>
                                                        </li>
                                                    <% }); %>
                                                <% } else { %>
                                                    <li><a href="#">IT & Software</a></li>
                                                    <li><a href="#">Marketing</a></li>
                                                    <li><a href="#">Design & Creative</a></li>
                                                    <li><a href="#">Finance</a></li>
                                                    <li><a href="#">Healthcare</a></li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                </div>

                <!-- End Hero Area -->



                <!-- Start Why Choose Area -->
                <section class="ed-why-choose ed-why-choose--style3 section-gap position-relative">
                    <img class="ed-w-choose__shape-3" src="/images/why-choose/why-choose-3/shape-3.svg"
                        alt="pattern-3" />
                    <div class="container ed-container">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="ed-w-choose__content">
                                    <div class="ed-section-head">
                                        <span class="ed-section-head__sm-title">WHO WE ARE</span>
                                        <h3 class="ed-section-head__title ed-split-text left">
                                            Connecting Talent <br />
                                            with Top Employers
                                        </h3>
                                        <p class="ed-section-head__text">
                                            We specialize in bridging the gap between job seekers and industry
                                            opportunities, helping professionals build careers with guidance, training,
                                            and support.
                                        </p>
                                    </div>

                                    <div class="ed-w-choose__info">
                                        <!-- Single Info  -->
                                        <div class="ed-w-choose__info-single">
                                            <div class="ed-w-choose__info-head">
                                                <div class="ed-w-choose__info-icon bg-1">
                                                    <img src="/images/why-choose/why-choose-1/icon-1.svg" alt="icon" />
                                                </div>
                                                <h5>Personalized Career Support</h5>
                                            </div>
                                            <div class="ed-w-choose__info-bottom">
                                                <p>
                                                    Our experts provide tailored guidance to help you identify
                                                    strengths, explore career options, and land the right job
                                                    efficiently.
                                                </p>
                                            </div>
                                        </div>

                                        <!-- Single Info  -->
                                        <div class="ed-w-choose__info-single">
                                            <div class="ed-w-choose__info-head">
                                                <div class="ed-w-choose__info-icon bg-2">
                                                    <img src="/images/why-choose/why-choose-1/icon-2.svg" alt="icon" />
                                                </div>
                                                <h5>24/7 Job Assistance</h5>
                                            </div>
                                            <div class="ed-w-choose__info-bottom">
                                                <p>
                                                    Our team is always available to assist with resume building,
                                                    interview preparation, and job application support for all
                                                    candidates.
                                                </p>
                                            </div>
                                        </div>

                                        <!-- Single Info  -->
                                        <div class="ed-w-choose__info-single">
                                            <div class="ed-w-choose__info-head">
                                                <div class="ed-w-choose__info-icon bg-3">
                                                    <img src="/images/why-choose/why-choose-1/icon-3.svg" alt="icon" />
                                                </div>
                                                <h5>Trusted by Companies</h5>
                                            </div>
                                            <div class="ed-w-choose__info-bottom">
                                                <p>
                                                    With a strong network of top employers, we connect job seekers with
                                                    verified opportunities and help companies hire the right talent.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="ed-w-choose__images ed-w-choose__images--style3 position-relative">
                                    <!-- Why Choose Image  -->
                                    <div class="ed-w-choose__main-img--style2 position-relative">
                                        <img class="why-choose-img-1" src="/images/why-choose/why-choose-3/img-1.png"
                                            alt="why-choose-img-1" />
                                        <img class="why-choose-img-2" src="/images/why-choose/why-choose-3/img-2.png"
                                            alt="why-choose-img-2" />
                                    </div>

                                    <!-- Counter Card -->
                                    <div class="counter-card updown-ani">
                                        <div class="counter-card__icon">
                                            <i class="fi fi-rr-briefcase"></i>
                                        </div>
                                        <div class="counter-card__info">
                                            <h4><span class="counter">1500</span>+</h4>
                                            <p>Jobs Filled</p>
                                        </div>
                                    </div>


                                    <!-- Shapes Elements -->
                                    <div class="ed-w-choose__shapes">
                                        <img class="ed-w-choose__shape-1 rotate-ani"
                                            src="/images/why-choose/why-choose-3/shape-1.svg" alt="shape-1" />
                                        <img class="ed-w-choose__shape-2"
                                            src="/images/why-choose/why-choose-3/shape-2.svg" alt="pattern-2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- End Why Choose Area -->

                <!-- Start Funfact Area -->
                <section class="ed-funfact ed-funfact--style2">
                    <div class="container ed-container position-relative">
                        <div class="ed-funfact__inner">
                            <div class="row g-0 justify-content-between">
                                <!-- Single Counter: Jobs Filled -->
                                <div class="col-xl-auto col-lg-3 col-md-6 col-6">
                                    <div class="ed-funfact__counter wow fadeInUp" data-wow-delay=".3s"
                                        data-wow-duration="1s">
                                        <h4 class="color-text-1"><span class="counter">1500</span>+</h4>
                                        <p>Jobs Filled</p>
                                    </div>
                                </div>

                                <!-- Single Counter: Active Candidates -->
                                <div class="col-xl-auto col-lg-3 col-md-6 col-6">
                                    <div class="ed-funfact__counter wow fadeInUp" data-wow-delay=".5s"
                                        data-wow-duration="1s">
                                        <h4 class="color-text-2"><span class="counter">5000</span>+</h4>
                                        <p>Active Candidates</p>
                                    </div>
                                </div>

                                <!-- Single Counter: Employers Network -->
                                <div class="col-xl-auto col-lg-3 col-md-6 col-6">
                                    <div class="ed-funfact__counter wow fadeInUp" data-wow-delay=".7s"
                                        data-wow-duration="1s">
                                        <h4 class="color-text-3"><span class="counter">200</span>+</h4>
                                        <p>Partner Companies</p>
                                    </div>
                                </div>

                                <!-- Single Counter: Years of Experience -->
                                <div class="col-xl-auto col-lg-3 col-md-6 col-6">
                                    <div class="ed-funfact__counter wow fadeInUp" data-wow-delay=".9s"
                                        data-wow-duration="1s">
                                        <h4 class="color-text-4"><span class="counter">30</span>+</h4>
                                        <p>Years of Combined Experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- End Funfact Area -->
                <section class="ed-features position-relative">
                    <div class="ed-category__shapes">
                        <img class="ed-category__shape-1 updown-ani" src="/images/features/features-1/shape-1.svg"
                            alt="shape-1" />
                        <img class="ed-category__shape-2 rotate-ani" src="/images/features/features-1/shape-2.svg"
                            alt="shape-2" />
                    </div>
                    <div class="container ed-container">
                        <div class="row">
                            <!-- Step 1 -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-features__card wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                    <div class="ed-features__icon icon-bg bg-1">
                                        <img src="/images/features/features-1/1.svg" alt="icon" />
                                    </div>
                                    <div class="ed-features__info">
                                        <h4>Step 1: Explore Opportunities</h4>
                                        <p>
                                            Browse our curated listings to find jobs that match your skills, interests,
                                            and career goals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Step 2 -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-features__card wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                    <div class="ed-features__icon icon-bg bg-2">
                                        <img src="/images/features/features-1/2.svg" alt="icon" />
                                    </div>
                                    <div class="ed-features__info">
                                        <h4>Step 2: Apply Easily</h4>
                                        <p>
                                            Submit applications directly through our platform with just a few clicks and
                                            track your progress.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Step 3 -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-features__card wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1s">
                                    <div class="ed-features__icon icon-bg bg-3">
                                        <img src="/images/features/features-1/3.svg" alt="icon" />
                                    </div>
                                    <div class="ed-features__info">
                                        <h4>Step 3: Get Hired</h4>
                                        <p>
                                            Prepare for interviews, ace the selection process, and start your new role
                                            with confidence.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- Start Course Area -->
                <section class="ed-course ed-course--style2 section-gap position-relative overflow-hidden">
                    <div class="container ed-container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-8 col-12">
                                <div class="ed-section-head text-center">
                                    <span class="ed-section-head__sm-title">JOB OPPORTUNITIES</span>
                                    <h3 class="ed-section-head__title ed-split-text left">
                                        Find Your Dream Job Today
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <% if (jobs && jobs.length) { %>
                                <% jobs.forEach(function(job) { %>
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-12">
                                        <div class="ed-course__card ed-course__card--style2 wow fadeInUp" data-wow-delay=".3s"
                                            data-wow-duration="1s">
                                            <div class="ed-course__head position-relative">
                                                <a href="#0" class="ed-course__img">
                                                    <img src="/images/about/about-1/about-img.png" alt="company-logo" />
                                                </a>
                                                <a href="#" class="ed-course__tag"><%= job.category %></a>
                                            </div>
                                            <div class="ed-course__body">
                                                <a href="#0" class="ed-course__title">
                                                    <h5><%= job.title %></h5>
                                                </a>
                                                <!-- Make all icon+content rows flex row-aligned -->
                                                <div class="ed-course__lesson">
                                                    <div class="ed-course__part d-flex align-items-center mb-2">
                                                        <i class="fi fi-rr-briefcase me-2"></i>
                                                        <p class="mb-0"><%= job.employmentType %></p>
                                                    </div>
                                                    <div class="ed-course__teacher d-flex align-items-center mb-2">
                                                        <i class="fi fi-rr-user me-2"></i>
                                                        <p class="mb-0">Experience: <%= job.experience %></p>
                                                    </div>
                                                </div>
                                                <div class="ed-course__bottom d-flex flex-column justify-content-start align-items-start gap-1">
                                                    <% if (job.salaryRange) { %>
                                                        <span class="ed-course__price"><%= job.salaryRange %></span>
                                                    <% } %>
                                                    <div class="ed-course__students d-flex align-items-center text-start mb-2">
                                                        <i class="fi fi-rr-map-marker me-2"></i>
                                                        <p class="job-location mb-0"><%= job.location %></p>
                                                    </div>
                                                    <div class="d-flex align-items-center text-start mb-2">
                                                        <i class="fi fi-rr-calendar me-2"></i>
                                                        <p class="job-posted mb-0">
                                                            Posted: 
                                                            <%= job.postedDate 
                                                                ? new Date(job.postedDate).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }) 
                                                                : new Date(job.createdAt).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }) 
                                                            %>
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-center text-start mb-2">
                                                        <i class="fi fi-rr-laptop me-2"></i>
                                                        <p class="job-arrangement mb-0"><%= job.workArrangement %></p>
                                                    </div>
                                                    <% if (job.skills && job.skills.length) { %>
                                                        <div class="job-skills mt-2 d-flex align-items-center flex-wrap">
                                                            <span class="fw-bold me-2">Skills:</span>
                                                            <% job.skills.slice(0, 5).forEach(function(skill, idx) { %>
                                                                <span class="badge bg-secondary ms-1 mb-1"><%= skill %></span>
                                                            <% }); %>
                                                        </div>
                                                    <% } %>
                                                </div>
                                                <div class="ed-course__btn mt-3">
                                                    <button type="button" class="ed-btn ed-btn--small apply-now-btn"
                                                        style="background: linear-gradient(135deg, #24519a, #0f1624, #06090f);"
                                                        data-job-id="<%= job._id %>">
                                                        Apply Now <i class="fi fi-rr-arrow-small-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <div class="col-12">
                                    <div class="alert alert-info text-center py-5">
                                        <h5>No jobs found.</h5>
                                        <p>Try adjusting your search or filter criteria.</p>
                                    </div>
                                </div>
                            <% } %>
                        </div>

                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-12">
                                <% if (pagination && pagination.totalPages > 1) { %>
                                    <div class="ed-pagination">
                                        <ul class="ed-pagination__list">
                                            <% 
                                                let page = pagination.page;
                                                let totalPages = pagination.totalPages;
                                                let search = typeof search !== 'undefined' ? search : '';
                                                let currentCategory = typeof currentCategory !== 'undefined' ? currentCategory : '';
                                                function buildPageUrl(p) {
                                                    let params = [];
                                                    if (search) params.push('search=' + encodeURIComponent(search));
                                                    if (currentCategory) params.push('category=' + encodeURIComponent(currentCategory));
                                                    params.push('page=' + p);
                                                    return '/career?' + params.join('&');
                                                }
                                            %>
                                            <% if (page > 1) { %>
                                                <li>
                                                    <a href="<%= buildPageUrl(page - 1) %>"><i class="fi-rr-arrow-small-left"></i></a>
                                                </li>
                                            <% } %>
                                            <% for (let i = 1; i <= totalPages; i++) { %>
                                                <li class="<%= i === page ? 'active' : '' %>">
                                                    <a href="<%= buildPageUrl(i) %>">
                                                        <%= i.toString().padStart(2, '0') %>
                                                    </a>
                                                </li>
                                            <% } %>
                                            <% if (page < totalPages) { %>
                                                <li>
                                                    <a href="<%= buildPageUrl(page + 1) %>"><i class="fi-rr-arrow-small-right"></i></a>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- End Course Area -->









                <section class="ed-call-action position-relative">
                    <div class="container ed-container">
                        <div class="ed-call-action__inner position-relative">
                            <div class="ed-call-action__shapes">
                                <img class="ed-call-action__shape-1 rotate-ani"
                                    src="/images/call-action/call-action-1/shape-1.svg" alt="shape-1" />
                                <img class="ed-call-action__shape-2" src="/images/call-action/call-action-1/shape-2.svg"
                                    alt="shape-2" />
                                <img class="ed-call-action__shape-3 updown-ani"
                                    src="/images/call-action/call-action-1/shape-3.svg" alt="shape-3" />
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="ed-call-action__img">
                                        <img src="/images/call-action/call-action-1/call-action-img.png"
                                            alt="call-action-img" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 order-class">
                                    <div class="ed-call-action__content">
                                        <div class="ed-section-head">
                                            <span class="ed-section-head__sm-title">LEARN WITH US</span>
                                            <h3 class="ed-section-head__title">
                                                Start Your Learning Journey Today <br />
                                                With Expert-Led Courses
                                            </h3>
                                            <p class="ed-section-head__text">
                                                Gain practical knowledge, upgrade your skills, and open doors to new
                                                opportunities. Join thousands of students who are already learning with
                                                us.
                                            </p>
                                        </div>
                                        <div class="ed-call-action__content-btn">
                                            <a href="/courses" class="ed-btn"> Explore Courses <i
                                                    class="fi fi-rr-arrow-small-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </main>

            <!-- Start Footer Area -->
            <footer class="ed-footer  main-footer position-relative">
                <!-- Footer Top -->
                <div class="ed-footer__top position-relative">
                    <div class="ed-footer__shapes">
                        <img loading="lazy" class="ed-footer__shape-1" src="/images/footer/footer-1/shape-1.svg" alt="shape-1" />
                        <img loading="lazy" class="ed-footer__shape-2 rotate-ani" src="/images/footer/footer-1/shape-2.svg"
                            alt="shape-2" />
                        <img loading="lazy" class="ed-footer__shape-3" src="/images/footer/footer-1/shape-3.svg" alt="shape-3" />
                    </div>
                    <div class="container ed-container">
                        <div class="row g-0">
                            <!-- About Widget -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-footer__widget ed-footer__about">
                                    <a href="/" class="ed-footer__logo">
                                        <img loading="lazy" src="/images/iimf/logo.png" alt="IIMF Academy Logo" />
                                    </a>
                                    <p class="ed-footer__about-text">
                                        IIMF Academy is committed to providing quality education and practical skills
                                        for a brighter future.
                                        Join us to achieve your learning and career goals.
                                    </p>
                                    <ul class="ed-footer__about-social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><img loading="lazy"
                                                    src="/images/icons/icon-dark-facebook.svg" alt="facebook" /></a>
                                        </li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><img loading="lazy"
                                                    src="/images/iimf/twitter.png" alt="facebook" /></a></li>
                                        <li><a href="https://www.linkedin.com/" target="_blank"><img loading="lazy"
                                                    src="/images/iimf/yt.png" alt="facebook" /></a></li>
                                        <li><a href="https://www.instagram.com/" target="_blank"><img loading="lazy"
                                                    src="/images/icons/icon-dark-instagram.svg" alt="instagram" /></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Quick Links -->
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="ed-footer__widget">
                                    <h4 class="ed-footer__widget-title">Quick Links</h4>
                                    <ul class="ed-footer__widget-links">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/courses">Courses</a></li>
                                        <li><a href="/events">Events</a></li>
                                        <li><a href="/gallery">
                                                Gallery
                                            </a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/blogs">News & Articles</a></li>
                                        <li><a href="/career">Find Jobs</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="ed-footer__widget">
                                    <h4 class="ed-footer__widget-title">More Links</h4>
                                    <ul class="ed-footer__widget-links">
                                        <li><a href="/studyAbroad">Study Abroad</a></li>
                                        <li><a href="/assesment">Online Test</a></li>
                                        <li><a href="/ielts-pte">Ielts & Pte</a></li>
                                        <li><a href="/languageTraining">Language Training</a></li>
                                        <li><a href="/corporates">Corporates</a></li>
                                        <li><a href="/school-campus">School To Campus</a></li>
                                        <li><a href="/campus-corporates">Campus To Corporate</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Contact Info -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-footer__widget contact-widget">
                                    <h4 class="ed-footer__widget-title">Contact Us</h4>

                                    <!-- Phone -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-phone-blue.svg" alt="phone" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Call Us</span>
                                            <a href="tel:+91 9876543210">+91 98765 43210</a>
                                        </div>
                                    </div>

                                    <!-- Email -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-envelope-blue.svg" alt="email" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Email</span>
                                            <a href="mailto:info@iimfacademy.com">info@iimfacademy.com</a>
                                        </div>
                                    </div>

                                    <!-- Location -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-location-blue.svg" alt="location" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Our Location</span>
                                            <a href="#" target="_blank">Trivandrum, Kerala, India</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Newsletter -->


                        </div>
                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="ed-footer__bottom">
                    <div class="container ed-container">
                        <div class="row">
                            <div class="col-12">
                                <p class="ed-footer__copyright-text">
                                     2025 IIMF Academy | Developed by <a href="https://trivlogic.com"
                                        target="_blank">Trivlogic Pvt Ltd</a>. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- End Footer Area  -->
        </div>
    </div>
    <a href="/assessment"> <button class="magnetwave-task-orb attract">

            <div class="magnetwave-orb-text">ONLINE<br>TASK</div>
        </button></a>
    <!-- Mobile Bottom Navigation -->
    <nav class="celestial-nav-container">
        <ul class="stellar-nav-list">
            <li class="orbital-nav-item">
                <a href="/" class="cosmic-nav-link active">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
                    </svg>
                    <span class="constellation-nav-text">Home</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/assesment" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path
                            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
                    </svg>
                    <span class="constellation-nav-text">Assessment</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/courses" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
                    </svg>
                    <span class="constellation-nav-text">Courses</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/about" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                    </svg>
                    <span class="constellation-nav-text">About</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/contact" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path
                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                    </svg>
                    <span class="constellation-nav-text">Contact</span>
                </a>
            </li>
        </ul>
    </nav>
<!-- Start Login Modal -->
<div class="modal fade ed-auth__modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="ed-auth__modal-content modal-content">
            <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fi-rr-cross"></i>
            </button>

            <!-- Auth Head  -->
            <div class="ed-auth__modal-head">
                <a href="/" class="ed-auth__modal-logo">
                    <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                </a>
                <h3 class="ed-auth__modal-title">Sign In Now</h3>
                <p class="ed-auth__modal-text">
                    Didnt Create an account?
                    <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal">
                        Sign Up
                    </button>
                </p>
            </div>

            <!-- Auth Body  -->
            <div class="ed-auth__modal-body">
                <form id="loginForm" action="/api/auth/user-login" method="post" class="ed-auth__modal-form">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter email" required />
                    </div>
                    <div class="form-group position-relative">
                        <input type="password" name="password" placeholder="Enter password" required id="loginPassword" />
                        <span class="toggle-password" toggle="#loginPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                            <i class="fi fi-rr-eye" id="loginPasswordIcon"></i>
                        </span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="flexCheckDefault">
                            <input class="form-check-input custom-check" type="checkbox" value="" id="flexCheckDefault" />
                            Remember me
                        </label>
                    </div>
                    <div class="ed-auth__form-btn">
                        <button type="submit" class="ed-btn" id="loginSubmitBtn">
                            <span class="btn-text">Sign In</span>
                            <span class="btn-loading" style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </span>
                            <i class="fi fi-rr-arrow-small-right"></i>
                        </button>
                    </div>
                    <div class="mt-2">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" data-bs-dismiss="modal">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Login Modal -->

<!-- Toastify CSS & JS (add to your <head> or before this script if not already included) -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>



<!-- Start Register Modal -->
<div class="modal fade ed-auth__modal" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="ed-auth__modal-content modal-content">
            <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fi-rr-cross"></i>
            </button>

            <!-- Auth Head  -->
            <div class="ed-auth__modal-head">
                <a href="/" class="ed-auth__modal-logo">
                    <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                </a>
                <h3 class="ed-auth__modal-title">Sign Up Now</h3>
                <p class="ed-auth__modal-text">
                    Already have an account?
                    <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal">
                        Sign In
                    </button>
                </p>
            </div>

            <!-- Auth Body  -->
            <div class="ed-auth__modal-body">
                <form id="registerForm" action="/api/auth/user-register" method="post" class="ed-auth__modal-form">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Enter full name" required />
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter email" required />
                    </div>
                    <div class="form-group">
                        <input type="text" name="mobile" placeholder="Enter mobile number" required />
                    </div>
                    <div class="form-group position-relative">
                        <input type="password" name="password" placeholder="Enter password" required id="registerPassword" />
                        <span class="toggle-password" toggle="#registerPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                            <i class="fi fi-rr-eye" id="registerPasswordIcon"></i>
                        </span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="flexCheckDefault2" style="cursor:pointer;">
                            <input class="form-check-input custom-check" type="checkbox" value="" id="flexCheckDefault2" required />
                            I agree with your <strong>Privacy Policy</strong>
                        </label>
                    </div>
                    <div class="ed-auth__form-btn">
                        <button type="submit" class="ed-btn" id="registerSubmitBtn">
                            <span class="btn-text">Register Now</span>
                            <span class="btn-loading" style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </span>
                            <i class="fi fi-rr-arrow-small-right"></i>
                        </button>
                    </div>
                </form>
                <!-- OTP Verification Section (hidden by default, shown after registration) -->
                <form id="otpForm" action="/api/auth/verify-otp" method="post" class="ed-auth__modal-form" style="display:none;">
                    <div class="form-group">
                        <input type="hidden" name="email" id="otpEmail" />
                        <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                    </div>
                    <div class="ed-auth__form-btn">
                        <button type="submit" class="ed-btn" id="otpSubmitBtn">
                            <span class="btn-text">Verify OTP</span>
                            <span class="btn-loading" style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </span>
                            <i class="fi fi-rr-arrow-small-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Register Modal -->

<!-- Start Forgot Password Modal -->
<div class="modal fade ed-auth__modal" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="ed-auth__modal-content modal-content">
            <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fi-rr-cross"></i>
            </button>
            <div class="ed-auth__modal-head">
                <a href="/" class="ed-auth__modal-logo">
                    <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                </a>
                <h3 class="ed-auth__modal-title">Forgot Password</h3>
            </div>
            <div class="ed-auth__modal-body">
                <form id="forgotPasswordForm" action="/api/auth/forgot-password" method="post" class="ed-auth__modal-form">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter your registered email" required />
                    </div>
                    <div class="ed-auth__form-btn">
                        <button type="submit" class="ed-btn" id="forgotSubmitBtn">
                            <span class="btn-text">Send OTP</span>
                            <span class="btn-loading" style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </span>
                            <i class="fi fi-rr-arrow-small-right"></i>
                        </button>
                    </div>
                </form>
                <!-- OTP and Reset Password Section (hidden by default, shown after sending OTP) -->
                <form id="resetPasswordOtpForm" action="/api/auth/verify-otp-password" method="post" class="ed-auth__modal-form" style="display:none;">
                    <div class="form-group">
                        <input type="hidden" name="email" id="resetOtpEmail" />
                        <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                    </div>
                    <div class="ed-auth__form-btn">
                        <button type="submit" class="ed-btn" id="resetOtpSubmitBtn">
                            <span class="btn-text">Verify OTP</span>
                            <span class="btn-loading" style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </span>
                            <i class="fi fi-rr-arrow-small-right"></i>
                        </button>
                    </div>
                </form>
                <form id="resetPasswordForm" action="/api/auth/reset-password" method="post" class="ed-auth__modal-form" style="display:none;">
                    <div class="form-group position-relative">
                        <input type="hidden" name="email" id="resetEmail" />
                        <input type="password" name="password" placeholder="Enter new password" required id="resetPassword" />
                        <span class="toggle-password" toggle="#resetPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                            <i class="fi fi-rr-eye" id="resetPasswordIcon"></i>
                        </span>
                    </div>
                    <div class="ed-auth__form-btn">
                        <button type="submit" class="ed-btn" id="resetPasswordSubmitBtn">
                            <span class="btn-text">Reset Password</span>
                            <span class="btn-loading" style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </span>
                            <i class="fi fi-rr-arrow-small-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Forgot Password Modal -->

<script>
    // Helper for Toastify
    function showToast(message, type = "info") {
        Toastify({
            text: message,
            duration: 3500,
            close: true,
            gravity: "top",
            position: "right",
            backgroundColor: type === "success" ? "#28a745" : (type === "error" ? "#dc3545" : "#24519a"),
            stopOnFocus: true,
        }).showToast();
    }

    // Password show/hide logic
    document.addEventListener('DOMContentLoaded', function () {
        function setupPasswordToggle(toggleSelector, inputSelector, iconSelector) {
            const toggle = document.querySelector(toggleSelector);
            const input = document.querySelector(inputSelector);
            const icon = document.querySelector(iconSelector);
            if (toggle && input && icon) {
                toggle.addEventListener('click', function () {
                    if (input.type === "password") {
                        input.type = "text";
                        icon.classList.remove('fi-rr-eye');
                        icon.classList.add('fi-rr-eye-crossed');
                    } else {
                        input.type = "password";
                        icon.classList.remove('fi-rr-eye-crossed');
                        icon.classList.add('fi-rr-eye');
                    }
                });
            }
        }
        setupPasswordToggle('.toggle-password[toggle="#loginPassword"]', '#loginPassword', '#loginPasswordIcon');
        setupPasswordToggle('.toggle-password[toggle="#registerPassword"]', '#registerPassword', '#registerPasswordIcon');
        setupPasswordToggle('.toggle-password[toggle="#resetPassword"]', '#resetPassword', '#resetPasswordIcon');

        // Button loading logic
        function setButtonLoading(btn, isLoading) {
            if (!btn) return;
            const text = btn.querySelector('.btn-text');
            const loading = btn.querySelector('.btn-loading');
            if (isLoading) {
                if (text) text.style.display = 'none';
                if (loading) loading.style.display = 'inline-flex';
                btn.disabled = true;
            } else {
                if (text) text.style.display = '';
                if (loading) loading.style.display = 'none';
                btn.disabled = false;
            }
        }

        // Login form loading
        const loginForm = document.getElementById('loginForm');
        if (loginForm) {
            loginForm.addEventListener('submit', function () {
                const btn = document.getElementById('loginSubmitBtn');
                setButtonLoading(btn, true);
            });
        }

        // Registration with OTP logic
        const registerForm = document.getElementById('registerForm');
        const otpForm = document.getElementById('otpForm');
        if (registerForm && otpForm) {
            registerForm.addEventListener('submit', async function (e) {
                e.preventDefault();
                const submitBtn = document.getElementById('registerSubmitBtn');
                setButtonLoading(submitBtn, true);

                const formData = new FormData(registerForm);
                const payload = {
                    name: formData.get('name'),
                    email: formData.get('email'),
                    mobile: formData.get('mobile'),
                    password: formData.get('password')
                };

                try {
                    const res = await fetch('/api/auth/user-register', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(payload)
                    });

                    const data = await res.json();
                    if (data.success && data.email) {
                        registerForm.style.display = 'none';
                        otpForm.style.display = '';
                        document.getElementById('otpEmail').value = data.email;
                        showToast('OTP sent to your email. Please verify.', 'success');
                    } else {
                        showToast(data.message || 'Registration failed', 'error');
                    }
                } catch (err) {
                    showToast('Something went wrong. Please try again.', 'error');
                } finally {
                    setButtonLoading(submitBtn, false);
                }
            });

            otpForm.addEventListener('submit', async function (e) {
e.preventDefault();
const submitBtn = document.getElementById('otpSubmitBtn');
setButtonLoading(submitBtn, true);

const email = document.getElementById('otpEmail').value;
const otp = otpForm.querySelector('input[name="otp"]').value;

try {
    const res = await fetch('/api/auth/verify-otp', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, otp })
    });

    const data = await res.json();
    if (data.success) {
        showToast(data.message || 'Logged in successfully!', 'success');
        otpForm.style.display = 'none';
        document.getElementById('registerModal').querySelector('.ed-auth__modal-close').click();

        // reload page to reflect logged-in state
        window.location.reload();
    } else {
        showToast(data.message || 'OTP verification failed', 'error');
    }
} catch (err) {
    showToast('Something went wrong. Please try again.', 'error');
} finally {
    setButtonLoading(submitBtn, false);
}
});
        }

        // Forgot password logic
        const forgotPasswordForm = document.getElementById('forgotPasswordForm');
        const resetPasswordOtpForm = document.getElementById('resetPasswordOtpForm');
        const resetPasswordForm = document.getElementById('resetPasswordForm');
        if (forgotPasswordForm && resetPasswordOtpForm && resetPasswordForm) {
            forgotPasswordForm.addEventListener('submit', async function (e) {
                e.preventDefault();
                const submitBtn = document.getElementById('forgotSubmitBtn');
                setButtonLoading(submitBtn, true);

                const formData = new FormData(forgotPasswordForm);
                try {
                    const res = await fetch('/api/auth/forgot-password', {
                        method: 'POST',
                        body: formData
                    });
                    const data = await res.json();
                    if (data.success && data.email) {
                        forgotPasswordForm.style.display = 'none';
                        resetPasswordOtpForm.style.display = '';
                        document.getElementById('resetOtpEmail').value = data.email;
                        showToast('OTP sent to your email. Please verify.', 'success');
                    } else {
                        showToast(data.message || 'Failed to send OTP', 'error');
                    }
                } catch (err) {
                    showToast('Something went wrong. Please try again.', 'error');
                } finally {
                    setButtonLoading(submitBtn, false);
                }
            });

            resetPasswordOtpForm.addEventListener('submit', async function (e) {
                e.preventDefault();
                const submitBtn = document.getElementById('resetOtpSubmitBtn');
                setButtonLoading(submitBtn, true);

                const formData = new FormData(resetPasswordOtpForm);
                try {
                    const res = await fetch('/api/auth/verify-otp-password', {
                        method: 'POST',
                        body: formData
                    });
                    const data = await res.json();
                    if (data.success && data.email) {
                        resetPasswordOtpForm.style.display = 'none';
                        resetPasswordForm.style.display = '';
                        document.getElementById('resetEmail').value = data.email;
                        showToast('OTP verified. Please enter your new password.', 'success');
                    } else {
                        showToast(data.message || 'OTP verification failed', 'error');
                    }
                } catch (err) {
                    showToast('Something went wrong. Please try again.', 'error');
                } finally {
                    setButtonLoading(submitBtn, false);
                }
            });

            resetPasswordForm.addEventListener('submit', async function (e) {
                e.preventDefault();
                const submitBtn = document.getElementById('resetPasswordSubmitBtn');
                setButtonLoading(submitBtn, true);

                const formData = new FormData(resetPasswordForm);
                try {
                    const res = await fetch('/api/auth/reset-password', {
                        method: 'POST',
                        body: formData
                    });
                    const data = await res.json();
                    if (data.success) {
                        showToast('Password reset successful! You can now login.', 'success');
                        resetPasswordForm.style.display = 'none';
                        document.getElementById('forgotPasswordModal').querySelector('.ed-auth__modal-close').click();
                    } else {
                        showToast(data.message || 'Password reset failed', 'error');
                    }
                } catch (err) {
                    showToast('Something went wrong. Please try again.', 'error');
                } finally {
                    setButtonLoading(submitBtn, false);
                }
            });
        }
    });
</script>


    <!-- Start Sidebar  -->
    <div class="offcanvas offcanvas-end ed-sidebar" tabindex="-1" id="edSidebar" aria-labelledby="offcanvasRightLabel">
        <div class="ed-sidebar-header">
            <a href="/" class="ed-sidebar-logo">
                <img src="/images/iimf/logo.png" alt="logo" />
            </a>
            <button type="button" class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fi fi-rr-cross"></i>
            </button>
        </div>
        <div class="ed-sidebar-body m-0">
            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Contacts Us:</h3>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-phone-blue.svg" alt="icon-phone-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>24/7 Support</span>
                        <a href="tel:+911234567890">+911234567890</a>
                    </div>
                </div>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-envelope-blue.svg" alt="icon-envelope-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Send Message</span>
                        <a href="mailto:eduna@gmail.com">iimf@gmail.com3</a>
                    </div>
                </div>

                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-location-blue.svg" alt="icon-location-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Our Locati0n</span>
                        <a href="#">IIMF Trivandrum ,Keala,673641</a>
                    </div>
                </div>
            </div>

            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Follow Us:</h3>
                <ul class="ed-sidebar-social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><img
                                src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/" target="_blank"><i style="color: #283e3d;"
                                class="ri-twitter-x-line"></i></a>
                    </li>
                    <li>
                        <a href="https://www.dribbble.com/" target="_blank"><i style="font-size: 17px;"
                                class="ri-youtube-fill"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><img
                                src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                    </li>
                </ul>
            </div>


        </div>
        <!-- End Sidebar  -->

        <!-- Start Back To Top  -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- End Back To Top -->

        <!-- Jquery JS -->
        <script src="/plugins/js/jquery.min.js"></script>
        <script src="/plugins/js/jquery-migrate.js"></script>
        <!-- Bootstrap JS -->
        <script src="/plugins/js/bootstrap.min.js"></script>

        <!-- Gsap JS -->
        <script src="/plugins/js/gsap/gsap.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-to-plugin.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-smoother.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-trigger.js"></script>
        <script src="/plugins/js/gsap/gsap-split-text.js"></script>

        <!-- Wow JS -->
        <script src="/plugins/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/plugins/js/owl.carousel.min.js"></script>
        <!-- Swiper Slider JS -->
        <script src="/plugins/js/swiper-bundle.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/plugins/js/magnific-popup.min.js"></script>
        <!-- CounterUp  JS -->
        <script src="/plugins/js/jquery.counterup.min.js"></script>
        <script src="/plugins/js/waypoints.min.js"></script>
        <!-- Nice Select JS -->
        <script src="/plugins/js/nice-select.min.js"></script>
        <!-- Back To Top JS -->
        <script src="/plugins/js/backToTop.js"></script>

        <!-- Main JS -->
        <script src="/plugins/js/active.js"></script>


</body>

</html>