<!DOCTYPE html>
<html class="no-js" lang="ZXX">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="thumbnail" content="/images/eduna-page-thumbnail.html" />
    <meta name="description" content="iimfacademy" />
    <meta name="keywords" content="iimfacademy" />
    <meta name="author" content="Trivlogic" />

    <title>Result</title>
    <link rel="shortcut icon" href="/images/iimf/logo.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/css/bootstrap.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/css/animate.min.css" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/plugins/css/owl.carousel.min.css" />
    <!-- Swiper Slider CSS -->
    <link rel="stylesheet" href="/plugins/css/swiper-bundle.min.css" />
    <!-- Maginific Popup CSS -->
    <link rel="stylesheet" href="/plugins/css/maginific-popup.min.css" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/plugins/css/nice-select.min.css" />
    <!-- Icofont -->
    <link rel="stylesheet" href="/plugins/css/icofont.css" />
    <!-- Uicons -->
    <link rel="stylesheet" href="/plugins/css/uicons.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body class="element-wrapper">


    <!-- Custom Cursor Start -->
    <div id="ed-mouse">
        <div id="cursor-ball"></div>
    </div>
    <!-- Custom Cursor End -->

 <!-- Start Mobile Menu Offcanvas -->
 <div class="modal mobile-menu-modal offcanvas-modal fade" id="offcanvas-modal">
    <div class="modal-dialog offcanvas-dialog">
        <div class="modal-content">
            <div class="modal-header offcanvas-header">
                <!-- Mobile Menu Logo -->
                <div class="offcanvas-logo">
                    <a href="/"><img loading="lazy" src="/images/iimf/logo.png" alt="#" /></a>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi fi-ss-cross"></i>
                </button>
            </div>
            <div class="mobile-menu-modal-main-body">
                <!-- Mobile Menu Navigation -->
                <nav class="offcanvas__menu">
                    <ul class="offcanvas__menu_ul">
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/">Home</a>

                        </li>

                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/courses">Courses</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/assesment">Assessment</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/studyAbroad">Study Abroad</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/ielts-pte">Ielts & Pte</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/languageTraining">Language Training</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item active" href="/corporates">Corporates</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/school-campus">School To Campus</a>


                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/campus-corporates">Campus To Corporates </a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/events">Events</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/gallery">Gallery</a>

                        </li>


                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/about">About</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/blogs">News</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/career">Find Jobs</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Menu Offcanvas -->

   <!-- Start Topbar Area  -->
   <div class="ed-topbar">
    <div class="container ed-container-expand">
        <div class="ed-topbar__inner">
            <!-- Logo  -->
            <div class="ed-topbar__logo">
                <a href="/">
                    <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                </a>
            </div>

            <!-- Category Dropdown -->
            <div class="ed-topbar__search-widget">
                <div class="ed-topbar__category">
                    <form id="categoryForm" action="/courses" method="get" style="margin-bottom:0;">
                        <select name="category" id="categorySelect" onchange="document.getElementById('categoryForm').submit()">
                          <option value="">All Categories</option>
                          <% courseCategories.forEach(function(category) { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                          <% }) %>
                        </select>
                      </form>
                </div>
                <div class="ed-topbar__search">
                    <form action="/courses" method="get">
                        <input type="search" name="search" placeholder="Search your courses..." required />
                        <button type="submit">Search<i class="fi-rr-search"></i></button>
                    </form>
                </div>
            </div>

            <!-- Topbar Info -->
            <div class="ed-topbar__info">
                <!-- Topbar Social -->
                <ul class="ed-topbar__info-social">
                      <li>
                            <a href="https://www.facebook.com/iimfacademy" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy" src="/images/iimf/twitter.png"
                                    alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://www.dribbble.com/" target="_blank"><img loading="lazy" src="/images/iimf/yt.png"
                                    alt="icon-dark-yt" /></a>
                        </li>
                                                <li>
                            <a href="https://www.linkedin.com/company/iimf-academy/" target="_blank"><img loading="lazy" src="/images/iimf/lk.png"
                                    alt="icon-dark-linkedin" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                        </li>
                </ul>
                <!-- Topbar Button -->
                <% if (user) { %>
                    <div class="ed-topbar__info-buttons">
                        <a href="/profile" class="ed-btn my-account-btn">My Account</a>
                    </div>
                <% } else { %>
                    <div class="ed-topbar__info-buttons">
                        <button type="button" class="register-btn" data-bs-toggle="modal"
                            data-bs-target="#registerModal">
                            Register
                        </button>
                        <button type="button" class="login-btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Log In
                        </button>
                    </div>
                <% } %>

                <!-- Mobile Menu Button -->
                <button type="button" class="mobile-menu-offcanvas-toggler" data-bs-toggle="modal"
                    data-bs-target="#offcanvas-modal">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
                <!-- End Mobile Menu Button -->
            </div>
        </div>
    </div>
</div>
<!-- End Topbar Area -->

<!-- Start Header Area -->
<header class="ed-header">
    <div class="container ed-container-expand">
        <div class="ed-header__inner">
            <div class="row align-items-center justify-center">
                <div class="col-lg-12 col-12">
                    <!-- Navigation Menu -->
                    <nav class="ed-header__navigation flex justify-center text-center">
                        <ul class="ed-header__menu">
                            <li >
                                <a href="/">Home</a>

                            </li>
                            <li >
                                <a href="/courses">Courses</a>

                            </li>

                            <li>
                                <a href="/studyAbroad">Study Abroad</a>
                            </li>
                            <li>
                                <a href="/assesment">Skill Challenge</a>
                            </li>



                            <li>
                                <a href="/ielts-pte">IELTS & PTE</a>

                            </li>
                            <li>
                                <a href="/languageTraining">Language Training</a>

                            </li>


                            <li class="active">
                                <a href="/corporates"> Corporates </a>

                            </li>
                            <li>
                                <a href="javascript:void(0)">Summer Camp<i
                                        class="fi fi-ss-angle-small-down"></i></a>
                                <ul class="sub-menu">


                                    <li><a href="/school-campus">School to Campus</a></li>
                                    <li>
                                        <a href="/campus-corporates">Campus to Corporate</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/blogs">News</a>

                            </li>


                            <li>
                                <a href="/about">About</a>

                            </li>
                            <li>
                                <a href="/career">Find Jobs</a>

                            </li>



                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                <div class="section-bg hero-bg">
                    <!-- Start Breadcrumbs Area -->
                    <section class="ed-breadcrumbs background-image"
                        style="background-image: url('/images/breadcrumbs-bg.png');">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-10 col-12">
                                    <div class="ed-breadcrumbs__content text-center">
                                        <h3 class="ed-breadcrumbs__title animate__animated animate__fadeInDown">Assessment Result</h3>
                                        <p class="lead mt-3 mb-4 animate__animated animate__fadeInUp">
                                            <span style="font-weight:600;color:#007bff;">Congratulations!</span> You’ve completed your assessment.<br>
                                            <span style="color:#28a745;">Unlock your results</span> to see your score, get insights, and celebrate your progress!
                                        </p>
                                        <ul class="ed-breadcrumbs__menu justify-content-center">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li>/</li>
                                            <li>Assessment Result</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Breadcrumbs Area -->
                </div>
                <div class=" py-5">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10">
                            <div class="card shadow border-0 stylish-card">
                        
                                <div class="card-body p-4">
                                    <% if (!attempt.isResultUnlocked) { %>
                                        <!-- Locked Result -->
                                        <div class="text-center py-4">
                                            <i class="fas fa-lock fa-3x text-warning mb-3 animate__animated animate__tada"></i>
                                            <h4 class="text-warning fw-bold mb-2">Result Locked</h4>
                                            <p class="text-muted mb-4" style="font-size:1.08em;">
                                                Unlock your result to reveal your score, detailed analysis, and a chance to earn your certificate!
                                            </p>
                                            <div class="row g-4 justify-content-center">
                                                <div class="col-12 col-md-6">
                                                    <div class="card h-100 border-0 shadow-sm unlock-card">
                                                        <div class="card-body text-center">
                                                            <h5 class="fw-semibold mb-3" style="color:#28a745;">
                                                                <i class="fas fa-tag me-2"></i>Use Coupon Code
                                                            </h5>
                                                            <form id="couponForm" class="mt-2 d-flex flex-column align-items-center">
                                                                <input type="hidden" id="attemptId" value="<%= attempt._id %>">
                                                                <div class="input-group w-100 mb-2" style="max-width:340px;">
                                                                    <input type="text" id="couponCode" class="form-control" placeholder="Enter coupon code" required>
                                                                    <button type="submit" class="btn btn-success">Apply</button>
                                                                </div>
                                                            </form>
                                                            <div class="small text-muted mt-2">Have a coupon? Unlock instantly!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="card h-100 border-0 shadow-sm unlock-card">
                                                        <div class="card-body text-center">
                                                            <h5 class="fw-semibold mb-3" style="color:#6610f2;">
                                                                <i class="fas fa-credit-card me-2"></i>Make Payment
                                                            </h5>
                                                            <p class="mb-3" style="font-size:1.08em;">
                                                                Unlock your result by paying <span class="fw-bold text-primary">₹5000</span>
                                                            </p>
                                                            <button class="btn btn-gradient w-100 py-2" style="max-width:220px;" onclick="initiatePayment()">
                                                                <i class="fas fa-unlock-alt me-2"></i>Pay ₹5000 to Unlock
                                                            </button>
                                                            <div class="small text-muted mt-2">Secure payment. Instant unlock.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.1/dist/dotlottie-wc.js" type="module"></script>
                                            <div class="mt-4 d-flex justify-content-center">
                                                <dotlottie-wc src="https://lottie.host/e63c8e66-7122-483b-8cdf-5eb2d12efa91/EKMWXTFsRV.lottie" style="width: 300px;height: 300px" autoplay loop></dotlottie-wc>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <!-- Unlocked Result -->
                                        <div class="text-center py-4">
                                            <div class="position-relative" style="z-index:1;">
                                                <!-- Lottie background animation -->
                                                <div style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:260px;height:260px;z-index:0;opacity:0.8;pointer-events:none;">
                                                    <dotlottie-wc src="https://lottie.host/e63c8e66-7122-483b-8cdf-5eb2d12efa91/EKMWXTFsRV.lottie" style="width:100%;height:100%;" autoplay loop></dotlottie-wc>
                                                </div>
                                                <div style="position:relative;z-index:1;">
                                                    <h4 class="text-success fw-bold mb-2 animate__animated animate__fadeInDown">Result Unlocked!</h4>
                                                    
                                                    <div class="score-display my-4 animate__animated animate__zoomIn">
                                                        <div class="score-badge mx-auto mb-2" style="width:110px;height:110px;display:flex;align-items:center;justify-content:center;background:linear-gradient(135deg,#007bff 60%,#28a745 100%);border-radius:50%;box-shadow:0 4px 16px rgba(0,0,0,0.08);">
                                                            <span class="display-4 fw-bold text-white" style="font-size:2.8rem;"><%= score %></span>
                                                        </div>
                                                        <div class="fw-bold text-primary" style="font-size:1.3rem;">out of <%= total %></div>
                                                        <p class="text-muted mb-0" style="font-size:1.08em;">Your Score</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="detailed-results mt-4 text-start mx-auto animate__animated animate__fadeInUp" >
                                                <h5 class="fw-semibold mb-3" style="color:#007bff;">
                                                    <i class="fas fa-chart-bar me-2"></i>Detailed Analysis
                                                </h5>
                                                
                                                <!-- Pie Chart Summary -->
                                                <div class="mb-4 d-flex flex-wrap align-items-center justify-content-between">
                                                    <div id="result-pie-chart" style="width:220px; height:220px;"></div>
                                                    <div class="ms-3 flex-grow-1">
                                                        <ul class="list-group list-group-flush" style="font-size:1.08em;">
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                <span><i class="fas fa-check-circle text-success me-2"></i>Correct</span>
                                                                <span class="fw-bold text-success"><%= graphData.correct %></span>
                                                            </li>
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                <span><i class="fas fa-times-circle text-danger me-2"></i>Incorrect</span>
                                                                <span class="fw-bold text-danger"><%= graphData.incorrect %></span>
                                                            </li>
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                <span><i class="fas fa-question-circle text-warning me-2"></i>Unanswered</span>
                                                                <span class="fw-bold text-warning"><%= graphData.unanswered %></span>
                                                            </li>
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                <span><i class="fas fa-list-ol text-primary me-2"></i>Total Questions</span>
                                                                <span class="fw-bold text-primary"><%= graphData.total %></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <!-- Category-wise Performance Chart -->
                                                <div class="mb-4">
                                                    <h6 class="fw-semibold mb-2" style="color:#28a745;">
                                                        <i class="fas fa-layer-group me-2"></i>Performance by Skills
                                                    </h6>
                                                    <div class="mb-3 d-flex justify-content-center" id="category-bar-chart-container" style="width:100%;">
                                                        <canvas id="category-bar-chart"></canvas>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-sm table-bordered align-middle bg-white mb-0">
                                                            <thead class="table-light">
                                                                <tr>
                                                                    <th>Skill</th>
                                                                    <th>Total</th>
                                                                    <th>Correct</th>
                                                                    <th>Incorrect</th>
                                                                    <th>Unanswered</th>
                                                                    <th>Accuracy (%)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% categoryAnalysis.forEach(function(cat) { %>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="fw-bold"><%= cat.category %></span>
                                                                        </td>
                                                                        <td><%= cat.total %></td>
                                                                        <td class="text-success fw-bold"><%= cat.correct %></td>
                                                                        <td class="text-danger fw-bold"><%= cat.incorrect %></td>
                                                                        <td class="text-warning fw-bold"><%= cat.unanswered %></td>
                                                                        <td>
                                                                            <span class="badge bg-<%= cat.percentage >= 80 ? 'success' : (cat.percentage >= 60 ? 'primary' : (cat.percentage >= 40 ? 'warning text-dark' : 'danger')) %>">
                                                                                <%= cat.percentage.toFixed(1) %>%
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                
                                                <!-- Per-Question Analysis Table -->
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover bg-white">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th style="width:40px;">#</th>
                                                                <th>Question</th>
                                                                <th style="width:180px;">Your Answer</th>
                                                                <th style="width:180px;">Correct Answer</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% questionAnalysis.forEach(function(q) { %>
                                                                <tr>
                                                                    <td class="fw-bold text-center"><%= q.index %></td>
                                                                    <td>
                                                                        <div class="mb-2"><%= q.questionText %></div>
                                                                        <% if (q.options && q.options.length > 0) { %>
                                                                            <ul class="list-unstyled mb-0">
                                                                                <% q.options.forEach(function(opt, idx) { %>
                                                                                    <li>
                                                                                        <span class="badge bg-light text-dark me-1"><%= String.fromCharCode(65 + idx) %></span>
                                                                                        <%= opt.text %>
                                                                                    </li>
                                                                                <% }); %>
                                                                            </ul>
                                                                        <% } %>
                                                                   
                                                                    </td>
                                                                    <td>
                                                                        <% if (q.selected !== null && typeof q.selected !== 'undefined') { %>
                                                                            <span class="badge bg-<%= q.isCorrect ? 'success' : 'danger' %>">
                                                                                <%= q.options && q.options[q.selected] ? String.fromCharCode(65 + q.selected) + '. ' + q.options[q.selected].text : 'N/A' %>
                                                                            </span>
                                                                        <% } else { %>
                                                                            <span class="badge bg-warning text-dark">Unanswered</span>
                                                                        <% } %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (typeof q.correctOption === 'number' && q.options && q.options[q.correctOption]) { %>
                                                                            <span class="badge bg-primary">
                                                                                <%= String.fromCharCode(65 + q.correctOption) + '. ' + q.options[q.correctOption].text %>
                                                                            </span>
                                                                        <% } else { %>
                                                                            <span class="text-muted">N/A</span>
                                                                        <% } %>
                                                                    </td>
                                                                </tr>
                                                            <% }); %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                                <div class="alert alert-info mt-4" style="font-size:1.05em;">
                                                    <%= analysisMessage %>
                                                </div>
                                            </div>
                                            
                                            <!-- Pie chart library (Chart.js) -->
                                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                            <script>
                                                document.addEventListener('DOMContentLoaded', function() {
                                                    // Pie chart for overall summary
                                                    var ctx = document.createElement('canvas');
                                                    ctx.width = 220;
                                                    ctx.height = 220;
                                                    document.getElementById('result-pie-chart').appendChild(ctx);
                                                    new Chart(ctx, {
                                                        type: 'doughnut',
                                                        data: {
                                                            labels: ['Correct', 'Incorrect', 'Unanswered'],
                                                            datasets: [{
                                                                data: [<%= graphData.correct %>, <%= graphData.incorrect %>, <%= graphData.unanswered %>],
                                                                backgroundColor: [
                                                                    '#28a745',
                                                                    '#dc3545',
                                                                    '#ffc107'
                                                                ],
                                                                borderWidth: 2
                                                            }]
                                                        },
                                                        options: {
                                                            cutout: '70%',
                                                            plugins: {
                                                                legend: {
                                                                    display: false
                                                                }
                                                            }
                                                        }
                                                    });

                                                    // Bar chart for category/skill performance
                                                    var catLabels = [];
                                                    var catCorrect = [];
                                                    var catIncorrect = [];
                                                    var catUnanswered = [];
                                                    var catAccuracy = [];
                                                    <% categoryAnalysis.forEach(function(cat) { %>
                                                        catLabels.push("<%- cat.category.replace(/"/g, '\\"') %>");
                                                        catCorrect.push(<%= cat.correct %>);
                                                        catIncorrect.push(<%= cat.incorrect %>);
                                                        catUnanswered.push(<%= cat.unanswered %>);
                                                        catAccuracy.push(<%= cat.percentage.toFixed(1) %>);
                                                    <% }); %>
                                                    var barCtx = document.getElementById('category-bar-chart').getContext('2d');
                                                    new Chart(barCtx, {
                                                        type: 'bar',
                                                        data: {
                                                            labels: catLabels,
                                                            datasets: [
                                                                {
                                                                    label: 'Correct',
                                                                    data: catCorrect,
                                                                    backgroundColor: '#28a745'
                                                                },
                                                                {
                                                                    label: 'Incorrect',
                                                                    data: catIncorrect,
                                                                    backgroundColor: '#dc3545'
                                                                },
                                                                {
                                                                    label: 'Unanswered',
                                                                    data: catUnanswered,
                                                                    backgroundColor: '#ffc107'
                                                                },
                                                                {
                                                                    label: 'Accuracy (%)',
                                                                    data: catAccuracy,
                                                                    type: 'line',
                                                                    yAxisID: 'y1',
                                                                    borderColor: '#007bff',
                                                                    backgroundColor: 'rgba(0,123,255,0.15)',
                                                                    fill: false,
                                                                    tension: 0.3,
                                                                    pointRadius: 4,
                                                                    pointBackgroundColor: '#007bff',
                                                                    order: 2
                                                                }
                                                            ]
                                                        },
                                                        options: {
                                                            responsive: true,
                                                            plugins: {
                                                                legend: {
                                                                    display: true,
                                                                    position: 'top'
                                                                },
                                                                tooltip: {
                                                                    mode: 'index',
                                                                    intersect: false
                                                                }
                                                            },
                                                            scales: {
                                                                x: {
                                                                    stacked: true
                                                                },
                                                                y: {
                                                                    beginAtZero: true,
                                                                    stacked: true,
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Questions'
                                                                    }
                                                                },
                                                                y1: {
                                                                    beginAtZero: true,
                                                                    position: 'right',
                                                                    grid: {
                                                                        drawOnChartArea: false
                                                                    },
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Accuracy (%)'
                                                                    },
                                                                    min: 0,
                                                                    max: 100,
                                                                    ticks: {
                                                                        callback: function(value) {
                                                                            return value + '%';
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    });
                                                });
                                            </script>
                                        </div>
                                    <% } %>
                                    <div class="text-center mt-4">
                                        <a href="/assesment" class="btn btn-secondary px-4 py-2 stylish-back-btn">
                                            <i class="fas fa-arrow-left me-2"></i>Back to Assessments
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Toastify CSS & JS -->
                <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
                <!-- Animate.css for extra style -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
                <style>
                    .stylish-card {
                        border-radius: 1rem;
                        overflow: hidden;
                        background: #fff;
                    }
                    .score-badge {
                        background: linear-gradient(135deg,#007bff 60%,#28a745 100%);
                        border-radius: 50%;
                        box-shadow: 0 4px 16px rgba(0,0,0,0.08);
                        width: 110px;
                        height: 110px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0.5rem;
                    }
                    .btn-gradient {
                        background: linear-gradient(90deg, #007bff 0%, #6610f2 100%);
                        color: #fff;
                        border: none;
                        transition: box-shadow 0.2s;
                        box-shadow: 0 2px 8px rgba(0,123,255,0.08);
                    }
                    .btn-gradient:hover, .btn-gradient:focus {
                        background: linear-gradient(90deg, #6610f2 0%, #007bff 100%);
                        color: #fff;
                        box-shadow: 0 4px 16px rgba(0,123,255,0.15);
                    }
                    .stylish-back-btn {
                        border-radius: 2rem;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        box-shadow: 0 2px 8px rgba(0,0,0,0.04);
                        transition: background 0.2s;
                    }
                    .stylish-back-btn:hover {
                        background: #007bff;
                        color: #fff;
                    }
                    .unlock-card {
                        border-radius: 1rem;
                        background: #f8f9fa;
                        transition: box-shadow 0.2s;
                    }
                    .unlock-card:hover {
                        box-shadow: 0 6px 24px rgba(0,123,255,0.10);
                    }
                    @media (max-width: 991.98px) {
                        .score-badge {
                            width: 90px;
                            height: 90px;
                        }
                    }
                    @media (max-width: 767.98px) {
                        .score-badge {
                            width: 70px;
                            height: 70px;
                        }
                        .card-header h3 {
                            font-size: 1.1rem;
                        }
                        .detailed-results {
                            font-size: 0.98em;
                        }
                        .card-body {
                            padding: 1.2rem !important;
                        }
                        .stylish-card {
                            border-radius: 0.7rem;
                        }
                    }
                    @media (max-width: 575.98px) {
                        .card {
                            margin-left: -8px;
                            margin-right: -8px;
                        }
                        .score-badge {
                            width: 54px;
                            height: 54px;
                        }
                        .detailed-results {
                            font-size: 0.95em;
                        }
                        .card-header {
                            padding: 1rem 0.5rem !important;
                        }
                    }
                </style>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                <script>
                    // Toastify helper
                    function showToast(message, type = "info") {
                        Toastify({
                            text: message,
                            duration: 3500,
                            close: true,
                            gravity: "top",
                            position: "center",
                            backgroundColor: type === "success"
                                ? "linear-gradient(90deg, #28a745 0%, #007bff 100%)"
                                : type === "error"
                                    ? "linear-gradient(90deg, #dc3545 0%, #fd7e14 100%)"
                                    : "linear-gradient(90deg, #007bff 0%, #6610f2 100%)",
                            stopOnFocus: true,
                            style: {
                                fontWeight: "600",
                                fontSize: "1.05em",
                                borderRadius: "1.5em",
                                boxShadow: "0 2px 8px rgba(0,0,0,0.08)"
                            }
                        }).showToast();
                    }

                    // Coupon form handling
                    const couponForm = document.getElementById('couponForm');
                    if (couponForm) {
                        couponForm.addEventListener('submit', async function(e) {
                            e.preventDefault();
                            const attemptId = document.getElementById('attemptId').value;
                            const couponCode = document.getElementById('couponCode').value.trim();
                            if (!couponCode) {
                                showToast("Please enter a coupon code.", "error");
                                return;
                            }
                            try {
                                const response = await fetch('/applyCoupon', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ attemptId, couponCode })
                                });
                                const result = await response.json();
                                if (result.success) {
                                    showToast('Coupon applied successfully! Unlocking result...', "success");
                                    setTimeout(() => location.reload(), 1200);
                                } else {
                                    showToast('Error: ' + result.message, "error");
                                }
                            } catch (error) {
                                showToast('Error applying coupon', "error");
                            }
                        });
                    }
                    function initiatePayment() {
                        // Implement your payment gateway integration here
                        showToast('Redirecting to payment gateway...', "info");
                        // For Razorpay or other payment gateways
                    }
                </script>

                <section class="ed-call-action position-relative">
                    <div class="container ed-container">
                        <div class="ed-call-action__inner position-relative">
                            <div class="ed-call-action__shapes">
                                <img class="ed-call-action__shape-1 rotate-ani"
                                    src="/images/call-action/call-action-1/shape-1.svg" alt="shape-1" />
                                <img class="ed-call-action__shape-2" src="/images/call-action/call-action-1/shape-2.svg"
                                    alt="shape-2" />
                                <img class="ed-call-action__shape-3 updown-ani"
                                    src="/images/call-action/call-action-1/shape-3.svg" alt="shape-3" />
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="ed-call-action__img">
                                        <img src="/images/call-action/call-action-1/call-action-img.png"
                                            alt="call-action-img" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 order-class">
                                    <div class="ed-call-action__content">
                                        <div class="ed-section-head">
                                            <span class="ed-section-head__sm-title">LEARN WITH US</span>
                                            <h3 class="ed-section-head__title">
                                                Start Your Learning Journey Today <br />
                                                With Expert-Led Courses
                                            </h3>
                                            <p class="ed-section-head__text">
                                                Gain practical knowledge, upgrade your skills, and open doors to new
                                                opportunities. Join thousands of students who are already learning with
                                                us.
                                            </p>
                                        </div>
                                        <div class="ed-call-action__content-btn">
                                            <a href="/courses" class="ed-btn"> Explore Courses <i
                                                    class="fi fi-rr-arrow-small-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- Start Footer Area -->
          
            <!-- End Footer Area  -->
        </div>
    </div>
    <a href="/assessment"> <button class="magnetwave-task-orb attract">

            <div class="magnetwave-orb-text">ONLINE<br>TASK</div>
        </button></a>
        <nav class="celestial-nav-container">
            <ul class="stellar-nav-list">
                <li class="orbital-nav-item">
                    <a href="/" class="cosmic-nav-link active">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
                        </svg>
                        <span class="constellation-nav-text">Home</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/assesment" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path
                                d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
                        </svg>
                        <span class="constellation-nav-text">Assessment</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/courses" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
                        </svg>
                        <span class="constellation-nav-text">Courses</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/about" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                        </svg>
                        <span class="constellation-nav-text">About</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/contact" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path
                                d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                        </svg>
                        <span class="constellation-nav-text">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    <!-- Start Login Modal -->
    <div class="modal fade ed-auth__modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>

                <!-- Auth Head  -->
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Sign In Now</h3>
                    <p class="ed-auth__modal-text">
                        Didn’t Create an account?
                        <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal">
                            Sign Up
                        </button>
                    </p>
                </div>

                <!-- Auth Body  -->
                <div class="ed-auth__modal-body">
                    <form id="loginForm" action="/api/auth/user-login" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter email" required />
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" name="password" placeholder="Enter password" required id="loginPassword" />
                            <span class="toggle-password" toggle="#loginPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="loginPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input custom-check" type="checkbox" value="" id="flexCheckDefault" />
                                Remember me
                            </label>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="loginSubmitBtn">
                                <span class="btn-text">Sign In</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                        <div class="mt-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" data-bs-dismiss="modal">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Modal -->

    <!-- Toastify CSS & JS (add to your <head> or before this script if not already included) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

   

    <!-- Start Register Modal -->
    <div class="modal fade ed-auth__modal" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>

                <!-- Auth Head  -->
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Sign Up Now</h3>
                    <p class="ed-auth__modal-text">
                        Already have an account?
                        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal">
                            Sign In
                        </button>
                    </p>
                </div>

                <!-- Auth Body  -->
                <div class="ed-auth__modal-body">
                    <form id="registerForm" action="/api/auth/user-register" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Enter full name" required />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter email" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="mobile" placeholder="Enter mobile number" required />
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" name="password" placeholder="Enter password" required id="registerPassword" />
                            <span class="toggle-password" toggle="#registerPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="registerPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault2" style="cursor:pointer;">
                                <input class="form-check-input custom-check" type="checkbox" value="" id="flexCheckDefault2" required />
                                I agree with your <strong>Privacy Policy</strong>
                            </label>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="registerSubmitBtn">
                                <span class="btn-text">Register Now</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <!-- OTP Verification Section (hidden by default, shown after registration) -->
                    <form id="otpForm" action="/api/auth/verify-otp" method="post" class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group">
                            <input type="hidden" name="email" id="otpEmail" />
                            <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="otpSubmitBtn">
                                <span class="btn-text">Verify OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Register Modal -->

    <!-- Start Forgot Password Modal -->
    <div class="modal fade ed-auth__modal" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Forgot Password</h3>
                </div>
                <div class="ed-auth__modal-body">
                    <form id="forgotPasswordForm" action="/api/auth/forgot-password" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter your registered email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="forgotSubmitBtn">
                                <span class="btn-text">Send OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <!-- OTP and Reset Password Section (hidden by default, shown after sending OTP) -->
                    <form id="resetPasswordOtpForm" action="/api/auth/verify-otp-password" method="post" class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group">
                            <input type="hidden" name="email" id="resetOtpEmail" />
                            <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="resetOtpSubmitBtn">
                                <span class="btn-text">Verify OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <form id="resetPasswordForm" action="/api/auth/reset-password" method="post" class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group position-relative">
                            <input type="hidden" name="email" id="resetEmail" />
                            <input type="password" name="password" placeholder="Enter new password" required id="resetPassword" />
                            <span class="toggle-password" toggle="#resetPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="resetPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="resetPasswordSubmitBtn">
                                <span class="btn-text">Reset Password</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forgot Password Modal -->

    <script>
        // Helper for Toastify
        function showToast(message, type = "info") {
            Toastify({
                text: message,
                duration: 3500,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: type === "success" ? "#28a745" : (type === "error" ? "#dc3545" : "#24519a"),
                stopOnFocus: true,
            }).showToast();
        }

        // Password show/hide logic
        document.addEventListener('DOMContentLoaded', function () {
            function setupPasswordToggle(toggleSelector, inputSelector, iconSelector) {
                const toggle = document.querySelector(toggleSelector);
                const input = document.querySelector(inputSelector);
                const icon = document.querySelector(iconSelector);
                if (toggle && input && icon) {
                    toggle.addEventListener('click', function () {
                        if (input.type === "password") {
                            input.type = "text";
                            icon.classList.remove('fi-rr-eye');
                            icon.classList.add('fi-rr-eye-crossed');
                        } else {
                            input.type = "password";
                            icon.classList.remove('fi-rr-eye-crossed');
                            icon.classList.add('fi-rr-eye');
                        }
                    });
                }
            }
            setupPasswordToggle('.toggle-password[toggle="#loginPassword"]', '#loginPassword', '#loginPasswordIcon');
            setupPasswordToggle('.toggle-password[toggle="#registerPassword"]', '#registerPassword', '#registerPasswordIcon');
            setupPasswordToggle('.toggle-password[toggle="#resetPassword"]', '#resetPassword', '#resetPasswordIcon');

            // Button loading logic
            function setButtonLoading(btn, isLoading) {
                if (!btn) return;
                const text = btn.querySelector('.btn-text');
                const loading = btn.querySelector('.btn-loading');
                if (isLoading) {
                    if (text) text.style.display = 'none';
                    if (loading) loading.style.display = 'inline-flex';
                    btn.disabled = true;
                } else {
                    if (text) text.style.display = '';
                    if (loading) loading.style.display = 'none';
                    btn.disabled = false;
                }
            }

            // Login form loading
            const loginForm = document.getElementById('loginForm');
            if (loginForm) {
                loginForm.addEventListener('submit', function () {
                    const btn = document.getElementById('loginSubmitBtn');
                    setButtonLoading(btn, true);
                });
            }

            // Registration with OTP logic
            const registerForm = document.getElementById('registerForm');
            const otpForm = document.getElementById('otpForm');
            if (registerForm && otpForm) {
                registerForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('registerSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(registerForm);
                    const payload = {
                        name: formData.get('name'),
                        email: formData.get('email'),
                        mobile: formData.get('mobile'),
                        password: formData.get('password')
                    };

                    try {
                        const res = await fetch('/api/auth/user-register', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(payload)
                        });

                        const data = await res.json();
                        if (data.success && data.email) {
                            registerForm.style.display = 'none';
                            otpForm.style.display = '';
                            document.getElementById('otpEmail').value = data.email;
                            showToast('OTP sent to your email. Please verify.', 'success');
                        } else {
                            showToast(data.message || 'Registration failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                otpForm.addEventListener('submit', async function (e) {
    e.preventDefault();
    const submitBtn = document.getElementById('otpSubmitBtn');
    setButtonLoading(submitBtn, true);

    const email = document.getElementById('otpEmail').value;
    const otp = otpForm.querySelector('input[name="otp"]').value;

    try {
        const res = await fetch('/api/auth/verify-otp', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, otp })
        });

        const data = await res.json();
        if (data.success) {
            showToast(data.message || 'Logged in successfully!', 'success');
            otpForm.style.display = 'none';
            document.getElementById('registerModal').querySelector('.ed-auth__modal-close').click();

            // reload page to reflect logged-in state
            window.location.reload();
        } else {
            showToast(data.message || 'OTP verification failed', 'error');
        }
    } catch (err) {
        showToast('Something went wrong. Please try again.', 'error');
    } finally {
        setButtonLoading(submitBtn, false);
    }
});
            }

            // Forgot password logic
            const forgotPasswordForm = document.getElementById('forgotPasswordForm');
            const resetPasswordOtpForm = document.getElementById('resetPasswordOtpForm');
            const resetPasswordForm = document.getElementById('resetPasswordForm');
            if (forgotPasswordForm && resetPasswordOtpForm && resetPasswordForm) {
                forgotPasswordForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('forgotSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(forgotPasswordForm);
                    try {
                        const res = await fetch('/api/auth/forgot-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success && data.email) {
                            forgotPasswordForm.style.display = 'none';
                            resetPasswordOtpForm.style.display = '';
                            document.getElementById('resetOtpEmail').value = data.email;
                            showToast('OTP sent to your email. Please verify.', 'success');
                        } else {
                            showToast(data.message || 'Failed to send OTP', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                resetPasswordOtpForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('resetOtpSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(resetPasswordOtpForm);
                    try {
                        const res = await fetch('/api/auth/verify-otp-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success && data.email) {
                            resetPasswordOtpForm.style.display = 'none';
                            resetPasswordForm.style.display = '';
                            document.getElementById('resetEmail').value = data.email;
                            showToast('OTP verified. Please enter your new password.', 'success');
                        } else {
                            showToast(data.message || 'OTP verification failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                resetPasswordForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('resetPasswordSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(resetPasswordForm);
                    try {
                        const res = await fetch('/api/auth/reset-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success) {
                            showToast('Password reset successful! You can now login.', 'success');
                            resetPasswordForm.style.display = 'none';
                            document.getElementById('forgotPasswordModal').querySelector('.ed-auth__modal-close').click();
                        } else {
                            showToast(data.message || 'Password reset failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });
            }
        });
    </script>


    <!-- Start Sidebar  -->
    <div class="offcanvas offcanvas-end ed-sidebar" tabindex="-1" id="edSidebar" aria-labelledby="offcanvasRightLabel">
        <div class="ed-sidebar-header">
            <a href="/" class="ed-sidebar-logo">
                <img src="/images/iimf/logo.png" alt="logo" />
            </a>
            <button type="button" class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fi fi-rr-cross"></i>
            </button>
        </div>
        <div class="ed-sidebar-body m-0">
            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Contacts Us:</h3>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-phone-blue.svg" alt="icon-phone-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>24/7 Support</span>
                        <a href="tel:+914844525521">0484 4525 521</a>
                    </div>
                </div>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-envelope-blue.svg" alt="icon-envelope-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Send Message</span>
                        <a href="mailto:eduna@gmail.com">iimf@gmail.com3</a>
                    </div>
                </div>

                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-location-blue.svg" alt="icon-location-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Our Locati0n</span>
                        <a href="#">IIMF Trivandrum ,Keala,673641</a>
                    </div>
                </div>
            </div>

            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Follow Us:</h3>
                <ul class="ed-sidebar-social">
                      <li>
                            <a href="https://www.facebook.com/iimfacademy" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy" src="/images/iimf/twitter.png"
                                    alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://www.dribbble.com/" target="_blank"><img loading="lazy" src="/images/iimf/yt.png"
                                    alt="icon-dark-yt" /></a>
                        </li>
                                                <li>
                            <a href="https://www.linkedin.com/company/iimf-academy/" target="_blank"><img loading="lazy" src="/images/iimf/lk.png"
                                    alt="icon-dark-linkedin" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                        </li>
                </ul>
            </div>


        </div>
        <!-- End Sidebar  -->

        <!-- Start Back To Top  -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- End Back To Top -->

        <!-- Jquery JS -->
        <script src="/plugins/js/jquery.min.js"></script>
        <script src="/plugins/js/jquery-migrate.js"></script>
        <!-- Bootstrap JS -->
        <script src="/plugins/js/bootstrap.min.js"></script>

        <!-- Gsap JS -->
        <script src="/plugins/js/gsap/gsap.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-to-plugin.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-smoother.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-trigger.js"></script>
        <script src="/plugins/js/gsap/gsap-split-text.js"></script>

        <!-- Wow JS -->
        <script src="/plugins/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/plugins/js/owl.carousel.min.js"></script>
        <!-- Swiper Slider JS -->
        <script src="/plugins/js/swiper-bundle.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/plugins/js/magnific-popup.min.js"></script>
        <!-- CounterUp  JS -->
        <script src="/plugins/js/jquery.counterup.min.js"></script>
        <script src="/plugins/js/waypoints.min.js"></script>
        <!-- Nice Select JS -->
        <script src="/plugins/js/nice-select.min.js"></script>
        <!-- Back To Top JS -->
        <script src="/plugins/js/backToTop.js"></script>

        <!-- Main JS -->
        <script src="/plugins/js/active.js"></script>
        <script
  src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.1/dist/dotlottie-wc.js"
  type="module"
></script>
</body>


</html>