<!DOCTYPE html>
<html class="no-js" lang="ZXX">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="thumbnail" content="/images/eduna-page-thumbnail.html" />
    <meta name="description" content="iimfacademy" />
    <meta name="keywords" content="iimfacademy" />
    <meta name="author" content="Trivlogic" />

    <title>IIMF | COURSE DETAILS</title>
    <link rel="shortcut icon" href="/images/iimf/logo.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/css/bootstrap.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/css/animate.min.css" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/plugins/css/owl.carousel.min.css" />
    <!-- Swiper Slider CSS -->
    <link rel="stylesheet" href="/plugins/css/swiper-bundle.min.css" />
    <!-- Maginific Popup CSS -->
    <link rel="stylesheet" href="/plugins/css/maginific-popup.min.css" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/plugins/css/nice-select.min.css" />
    <!-- Icofont -->
    <link rel="stylesheet" href="/plugins/css/icofont.css" />
    <!-- Uicons -->
    <link rel="stylesheet" href="/plugins/css/uicons.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/style.css" />
</head>

<body class="element-wrapper">


    <!-- Custom Cursor Start -->
    <div id="ed-mouse">
        <div id="cursor-ball"></div>
    </div>
    <!-- Custom Cursor End -->

    <!-- Start Mobile Menu Offcanvas -->
    <div class="modal mobile-menu-modal offcanvas-modal fade" id="offcanvas-modal">
        <div class="modal-dialog offcanvas-dialog">
            <div class="modal-content">
                <div class="modal-header offcanvas-header">
                    <!-- Mobile Menu Logo -->
                    <div class="offcanvas-logo">
                        <a href="/"><img loading="lazy" src="/images/iimf/logo.png" alt="#" /></a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fi fi-ss-cross"></i>
                    </button>
                </div>
                <div class="mobile-menu-modal-main-body">
                    <!-- Mobile Menu Navigation -->
                    <nav class="offcanvas__menu">
                        <ul class="offcanvas__menu_ul">
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item " href="/">Home</a>

                            </li>

                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item active" href="/courses">Courses</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/assesment">Assessment</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/studyAbroad">Study Abroad</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/ielts-pte">Ielts & Pte</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/languageTraining">Language Training</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item " href="/corporates">Corporates</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/school-campus">School To Campus</a>


                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/campus-corporates">Campus To Corporates </a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/events">Events</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/gallery">Gallery</a>

                            </li>


                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item " href="/about">About</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/blogs">News</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/career">Find Jobs</a>

                            </li>
                            <li class="offcanvas__menu_li">
                                <a class="offcanvas__menu_item" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile Menu Offcanvas -->

    <!-- Start Topbar Area  -->
    <div class="ed-topbar">
        <div class="container ed-container-expand">
            <div class="ed-topbar__inner">
                <!-- Logo  -->
                <div class="ed-topbar__logo">
                    <a href="/">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                </div>

                <!-- Category Dropdown -->
                <div class="ed-topbar__search-widget">
                    <div class="ed-topbar__category">
                        <form id="categoryForm" action="/courses" method="get" style="margin-bottom:0;">
                            <select name="category" id="categorySelect"
                                onchange="document.getElementById('categoryForm').submit()">
                                <option value="">All Categories</option>
                                <% courseCategories.forEach(function(category) { %>
                                    <option value="<%= category.name %>">
                                        <%= category.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </form>
                    </div>
                    <div class="ed-topbar__search">
                        <form action="/courses" method="get">
                            <input type="search" name="search" placeholder="Search your courses..." required />
                            <button type="submit">Search<i class="fi-rr-search"></i></button>
                        </form>
                    </div>
                </div>

                <!-- Topbar Info -->
                <div class="ed-topbar__info">
                    <!-- Topbar Social -->
                    <ul class="ed-topbar__info-social">
                        <li>
                            <a href="https://www.facebook.com/iimfacademy" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy"
                                    src="/images/iimf/twitter.png" alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC9spuSXtDgYxM_iYLtsAZPg" target="_blank"><img
                                    loading="lazy" src="/images/iimf/yt.png" alt="icon-dark-yt" /></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/iimf-academy/" target="_blank"><img loading="lazy"
                                    src="/images/iimf/lk.png" alt="icon-dark-linkedin" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                        </li>
                    </ul>
                    <!-- Topbar Button -->
                    <% if (user) { %>
                        <div class="ed-topbar__info-buttons">
                            <a href="/profile" class="ed-btn my-account-btn">My Account</a>
                        </div>
                        <% } else { %>
                            <div class="ed-topbar__info-buttons">
                                <button type="button" class="register-btn" data-bs-toggle="modal"
                                    data-bs-target="#registerModal">
                                    Register
                                </button>
                                <button type="button" class="login-btn" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">
                                    Log In
                                </button>
                            </div>
                            <% } %>

                                <!-- Mobile Menu Button -->
                                <button type="button" class="mobile-menu-offcanvas-toggler" data-bs-toggle="modal"
                                    data-bs-target="#offcanvas-modal">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </button>
                                <!-- End Mobile Menu Button -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar Area -->

    <!-- Start Header Area -->
    <header class="ed-header">
        <div class="container ed-container-expand">
            <div class="ed-header__inner">
                <div class="row align-items-center justify-center">
                    <div class="col-lg-12 col-12">
                        <!-- Navigation Menu -->
                        <nav class="ed-header__navigation flex justify-center text-center">
                            <ul class="ed-header__menu">
                                <li>
                                    <a href="/">Home</a>

                                </li>
                                <li>
                                    <a href="/courses">Courses</a>

                                </li>

                                <!-- <li>
                                    <a href="/studyAbroad">Study Abroad</a>
                                </li> -->
                                <li>
                                    <a href="/assesment">Skill Challenge</a>
                                </li>



                                <li>
                                    <a href="/ielts-pte">IELTS & PTE</a>

                                </li>
                                <li>
                                    <a href="/languageTraining">Language Training</a>

                                </li>


                                <li>
                                    <a href="/corporates"> Corporates </a>

                                </li>
                                <li>
                                    <a href="javascript:void(0)">Summer Camp<i
                                            class="fi fi-ss-angle-small-down"></i></a>
                                    <ul class="sub-menu">


                                        <li><a href="/school-campus">School to Campus</a></li>
                                        <li>
                                            <a href="/campus-corporates">Campus to Corporate</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="/gallery">Gallery</a>

                                </li>


                                <li>
                                    <a href="/about">About</a>

                                </li>
                                <li>
                                    <a href="/career">Find Jobs</a>

                                </li>



                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->


    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                <div class="section-bg hero-bg">
                    <!-- Start Bredcrumbs Area -->
                    <section class="ed-breadcrumbs background-image"
                        style="background-image: url('/images/breadcrumbs-bg.png');">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="ed-breadcrumbs__content">
                                        <h3 class="ed-breadcrumbs__title">Study in the USA</h3>
                                        <ul class="ed-breadcrumbs__menu">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li>/</li>
                                            <li>Study in the USA</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Bredcrumbs Area -->
                </div>

                <!-- Start Course Details Area -->
                <section class="ed-course__details">
                    <div class="container ed-container">
                        <div class="row">
                            <!-- Left Content -->
                            <div class="col-lg-8 col-12">
                                <div class="ed-course__details-content">
                                    <!-- Banner Image -->
                                    <div class="ed-course__details-img">
                                        <img src="<%= studyAbroad.image || '/images/course/course-details/details-img-1.png' %>" alt="Study in <%= studyAbroad.country %>" />
                                    </div>

                                    <h3><%= studyAbroad.title %></h3>
                                    <p>
                                        <%= studyAbroad.description %>
                                    </p>

                                    <!-- Quick Highlights -->
                                    <div class="usa-highlights-grid">
                                        <% if (studyAbroad.additionalInformation && studyAbroad.additionalInformation.topUniversities && studyAbroad.additionalInformation.topUniversities.length) { %>
                                            <div class="usa-highlight-card">
                                                <div class="highlight-icon">🎓</div>
                                                <h5>Top Universities</h5>
                                                <p>
                                                    <%= studyAbroad.additionalInformation.topUniversities.join(', ') %>
                                                </p>
                                            </div>
                                        <% } %>
                                        <% if (studyAbroad.additionalInformation && studyAbroad.additionalInformation.workOpportunitiesIndianStudents) { %>
                                            <div class="usa-highlight-card">
                                                <div class="highlight-icon">💼</div>
                                                <h5>Work Opportunities</h5>
                                                <p>
                                                    <%= studyAbroad.additionalInformation.workOpportunitiesIndianStudents %>
                                                </p>
                                            </div>
                                        <% } %>
                                        <% if (studyAbroad.countryDetails && studyAbroad.countryDetails.indianStudents) { %>
                                            <div class="usa-highlight-card">
                                                <div class="highlight-icon">🌎</div>
                                                <h5>Indian Students</h5>
                                                <p>
                                                    <%= studyAbroad.countryDetails.indianStudents %>
                                                </p>
                                            </div>
                                        <% } %>
                                        <% if (studyAbroad.additionalInformation && studyAbroad.additionalInformation.investment) { %>
                                            <div class="usa-highlight-card">
                                                <div class="highlight-icon">💰</div>
                                                <h5>Investment</h5>
                                                <p>
                                                    <%= studyAbroad.additionalInformation.investment %>
                                                </p>
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Why Choose Section -->
                                    <% if (studyAbroad.whyChoose && studyAbroad.whyChoose.length) { %>
                                    <div class="ed-course__details-list">
                                        <h5>Why Choose <%= studyAbroad.country %>?</h5>
                                        <ul>
                                            <% studyAbroad.whyChoose.forEach(function(point) { %>
                                                <li>
                                                    <img src="/images/icons/icon-check-blue.svg" alt="check" />
                                                    <%= point %>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <% } %>

                                    <!-- Education System -->
                                    <% if (studyAbroad.usEducationalSystem && studyAbroad.usEducationalSystem.length) { %>
                                    <div class="ed-course__details-list">
                                        <h5><%= studyAbroad.country %> Education System</h5>
                                        <div class="education-system-grid">
                                            <% studyAbroad.usEducationalSystem.forEach(function(system) { %>
                                                <div class="system-card">
                                                    <h6><%= system.title %></h6>
                                                    <p><%= system.description %></p>
                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <% } %>

                                    <!-- Admission Requirements -->
                                    <% if (studyAbroad.admissionRequirements && studyAbroad.admissionRequirements.length) { %>
                                    <div class="ed-course__details-list">
                                        <h5>Admission Requirements</h5>
                                        <div class="requirements-grid">
                                            <% studyAbroad.admissionRequirements.forEach(function(req) { %>
                                                <div class="requirement-section">
                                                    <h6><%= req.title %></h6>
                                                    <ul>
                                                        <% (req.points || []).forEach(function(point) { %>
                                                            <li><%= point %></li>
                                                        <% }) %>
                                                    </ul>
                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <% } %>

                                    <!-- Top Courses -->
                                    <% if (studyAbroad.topCourses && studyAbroad.topCourses.length) { %>
                                    <div class="ed-course__details-list">
                                        <h5>Top Courses</h5>
                                        <div class="courses-tags">
                                            <% studyAbroad.topCourses.forEach(function(course) { %>
                                                <span class="course-tag"><%= course %></span>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <% } %>

                                    <!-- Student Visa Process -->
                                    <% if (studyAbroad.visaProcess && studyAbroad.visaProcess.length) { %>
                                    <div class="ed-course__details-list">
                                        <h5>Student Visa Process</h5>
                                        <div class="visa-steps">
                                            <% studyAbroad.visaProcess.forEach(function(step, idx) { %>
                                                <div class="visa-step">
                                                    <div class="step-number"><%= idx + 1 %></div>
                                                    <div class="step-content">
                                                        <h6><%= step.title %></h6>
                                                        <p><%= step.description %></p>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>

                            <!-- Right Sidebar -->
                            <div class="col-lg-4 col-12">
                                <div class="ed-course__sidebar">
                                    <!-- Quick Facts Widget -->
                                    <div class="ed-course__sidebar-widget">
                                        <h4 class="ed-course__sidebar-title"><%= studyAbroad.country %> Quick Facts</h4>
                                        <ul class="usa-facts-list">
                                            <% if (studyAbroad.countryDetails && studyAbroad.countryDetails.capital) { %>
                                                <li>Capital: <span><%= studyAbroad.countryDetails.capital %></span></li>
                                            <% } %>
                                            <% if (studyAbroad.countryDetails && studyAbroad.countryDetails.topCities && studyAbroad.countryDetails.topCities.length) { %>
                                                <li>Top Cities: <span><%= studyAbroad.countryDetails.topCities.join(', ') %></span></li>
                                            <% } %>
                                            <% if (studyAbroad.countryDetails && studyAbroad.countryDetails.universities && studyAbroad.countryDetails.universities.length) { %>
                                                <li>Universities: <span><%= studyAbroad.countryDetails.universities.length %>+</span></li>
                                            <% } %>
                                            <% if (studyAbroad.countryDetails && studyAbroad.countryDetails.indianStudents) { %>
                                                <li>Indian Students: <span><%= studyAbroad.countryDetails.indianStudents %></span></li>
                                            <% } %>
                                            <% if (studyAbroad.countryDetails && studyAbroad.countryDetails.currency) { %>
                                                <li>Currency: <span><%= studyAbroad.countryDetails.currency %></span></li>
                                            <% } %>
                                            <% if (studyAbroad.countryDetails && studyAbroad.countryDetails.language) { %>
                                                <li>Language: <span><%= studyAbroad.countryDetails.language %></span></li>
                                            <% } %>
                                        </ul>
                                    </div>

                                    <!-- Top Universities Widget -->
                                    <% if (studyAbroad.topUniversities && studyAbroad.topUniversities.length) { %>
                                    <div class="ed-course__sidebar-widget">
                                        <h4 class="ed-course__sidebar-title">Top Universities</h4>
                                        <ul class="universities-list">
                                            <% studyAbroad.topUniversities.forEach(function(univ) { %>
                                                <li><%= univ %></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <% } %>

                                    <!-- Intakes Widget -->
                                    <% if (studyAbroad.intakePeriod && (studyAbroad.intakePeriod.fallIntake || studyAbroad.intakePeriod.springIntake || studyAbroad.intakePeriod.summerIntake)) { %>
                                    <div class="ed-course__sidebar-widget">
                                        <h4 class="ed-course__sidebar-title">Intake Periods</h4>
                                        <div class="intakes-list">
                                            <% if (studyAbroad.intakePeriod.fallIntake) { %>
                                                <div class="intake-item">
                                                    <strong>Fall Intake</strong>
                                                    <span><%= studyAbroad.intakePeriod.fallIntake %></span>
                                                </div>
                                            <% } %>
                                            <% if (studyAbroad.intakePeriod.springIntake) { %>
                                                <div class="intake-item">
                                                    <strong>Spring Intake</strong>
                                                    <span><%= studyAbroad.intakePeriod.springIntake %></span>
                                                </div>
                                            <% } %>
                                            <% if (studyAbroad.intakePeriod.summerIntake) { %>
                                                <div class="intake-item">
                                                    <strong>Summer Intake</strong>
                                                    <span><%= studyAbroad.intakePeriod.summerIntake %></span>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <% } %>

                                    <!-- Contact Form Widget -->
                                    <div class="ed-course__sidebar-widget">
                                        <h4 class="ed-course__sidebar-title">Get <%= studyAbroad.country %> Counseling</h4>
                                        <form id="studyDetailsContactForm" class="ed-assessment-form">
                                            <div class="form-group mb-3">
                                                <input type="text" id="name" name="name" placeholder="Full name" class="form-control" required />
                                            </div>
                                            <div class="form-group mb-3">
                                                <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control" required />
                                            </div>
                                            <div class="form-group mb-3">
                                                <input type="tel" id="phone" name="phone" placeholder="Phone number" class="form-control" required />
                                            </div>
                                            <div class="form-group mb-3">
                                                <textarea id="message" name="message" placeholder="How can we help you? Feel free to get in touch!" class="form-control" required></textarea>
                                            </div>
                                            <button type="submit" class="ed-btn w-100" id="studyDetailsContactSubmitBtn">Get Free Consultation</button>
                                        </form>
                                        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
                                        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                const contactForm = document.getElementById('studyDetailsContactForm');
                                                const submitBtn = document.getElementById('studyDetailsContactSubmitBtn');
                                                if (contactForm) {
                                                    contactForm.addEventListener('submit', async function (e) {
                                                        e.preventDefault();
                                                        submitBtn.disabled = true;
                                                        submitBtn.innerHTML = 'Sending... <i class="fi fi-rr-arrow-small-right"></i>';

                                                        const formData = new FormData(contactForm);
                                                        const payload = {
                                                            name: formData.get('name'),
                                                            email: formData.get('email'),
                                                            phone: formData.get('phone'),
                                                            message: formData.get('message')
                                                        };

                                                        try {
                                                            const res = await fetch('/send-contact', {
                                                                method: 'POST',
                                                                headers: {
                                                                    'Content-Type': 'application/json'
                                                                },
                                                                body: JSON.stringify(payload)
                                                            });

                                                            if (res.ok) {
                                                                Toastify({
                                                                    text: "Thank you! Your message has been sent successfully.",
                                                                    duration: 4000,
                                                                    gravity: "top",
                                                                    position: "center",
                                                                    backgroundColor: "#28a745",
                                                                    stopOnFocus: true
                                                                }).showToast();
                                                                contactForm.reset();
                                                            } else {
                                                                const errorText = await res.text();
                                                                Toastify({
                                                                    text: errorText || "Failed to send message.",
                                                                    duration: 4000,
                                                                    gravity: "top",
                                                                    position: "center",
                                                                    backgroundColor: "#dc3545",
                                                                    stopOnFocus: true
                                                                }).showToast();
                                                            }
                                                        } catch (err) {
                                                            Toastify({
                                                                text: "Something went wrong. Please try again.",
                                                                duration: 4000,
                                                                gravity: "top",
                                                                position: "center",
                                                                backgroundColor: "#dc3545",
                                                                stopOnFocus: true
                                                            }).showToast();
                                                        } finally {
                                                            submitBtn.disabled = false;
                                                            submitBtn.innerHTML = 'Get Free Consultation';
                                                        }
                                                    });
                                                }
                                            });
                                        </script>
                                    </div>

                                    <!-- Scholarship Info -->
                                    <% if (studyAbroad.popularScholarships && studyAbroad.popularScholarships.length) { %>
                                    <div class="ed-course__sidebar-widget">
                                        <h4 class="ed-course__sidebar-title">Popular Scholarships</h4>
                                        <ul class="scholarships-list">
                                            <% studyAbroad.popularScholarships.forEach(function(sch) { %>
                                                <li><%= sch %></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <!-- Financial Requirements -->
                            <% if (studyAbroad.financialRequirements && (studyAbroad.financialRequirements.tuitionFees || studyAbroad.financialRequirements.livingCosts || studyAbroad.financialRequirements.totalProofRequired)) { %>
                            <div class="ed-course__details-list">
                                <h5>Financial Requirements</h5>
                                <div class="financial-table">
                                    <% if (studyAbroad.financialRequirements.tuitionFees) { %>
                                    <div class="financial-row">
                                        <div class="financial-item">Tuition Fees</div>
                                        <div class="financial-amount"><%= studyAbroad.financialRequirements.tuitionFees %></div>
                                    </div>
                                    <% } %>
                                    <% if (studyAbroad.financialRequirements.livingCosts) { %>
                                    <div class="financial-row">
                                        <div class="financial-item">Living Costs</div>
                                        <div class="financial-amount"><%= studyAbroad.financialRequirements.livingCosts %></div>
                                    </div>
                                    <% } %>
                                    <% if (studyAbroad.financialRequirements.totalProofRequired) { %>
                                    <div class="financial-row total">
                                        <div class="financial-item">Total Proof Required</div>
                                        <div class="financial-amount"><%= studyAbroad.financialRequirements.totalProofRequired %></div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>

                            <!-- Work Opportunities -->
                            <% if (studyAbroad.workOpportunities && (studyAbroad.workOpportunities.duringStudies || studyAbroad.workOpportunities.afterGraduation)) { %>
                            <div class="ed-course__details-list">
                                <h5>Work Opportunities</h5>
                                <div class="work-opportunities">
                                    <% if (studyAbroad.workOpportunities.duringStudies) { %>
                                    <div class="work-type">
                                        <h6>During Studies</h6>
                                        <ul>
                                            <% studyAbroad.workOpportunities.duringStudies.split('\n').forEach(function(item) { if(item.trim()) { %>
                                                <li><%= item %></li>
                                            <% } }) %>
                                        </ul>
                                    </div>
                                    <% } %>
                                    <% if (studyAbroad.workOpportunities.afterGraduation) { %>
                                    <div class="work-type">
                                        <h6>After Graduation</h6>
                                        <ul>
                                            <% studyAbroad.workOpportunities.afterGraduation.split('\n').forEach(function(item) { if(item.trim()) { %>
                                                <li><%= item %></li>
                                            <% } }) %>
                                        </ul>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>

                            <!-- Final CTA Section -->
                            <div class="ed-course__details-list">
                                <h5>Start Your <%= studyAbroad.country %> Journey Today!</h5>
                                <p>
                                    Take the first step towards your dream with expert guidance on university
                                    selection, visa processing, and financial planning.
                                </p>
                                <div class="cta-buttons">
                                    <a href="tel:+914844525521" class="ed-btn">Book Free Consultation <i
                                            class="fi fi-rr-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <style>
                        /* USA Highlights Grid */
                        .usa-highlights-grid {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                            gap: 1rem;
                            margin: 2rem 0;
                        }

                        .usa-highlight-card {
                            background: linear-gradient(135deg, #f8f9fa, #e9ecef);
                            padding: 1.5rem 1rem;
                            border-radius: 10px;
                            text-align: center;
                            border-left: 4px solid #24519a;
                        }

                        .highlight-icon {
                            font-size: 2rem;
                            margin-bottom: 0.5rem;
                        }

                        .usa-highlight-card h5 {
                            color: #2c3e50;
                            margin-bottom: 0.5rem;
                            font-size: 1rem;
                        }

                        .usa-highlight-card p {
                            color: #6c757d;
                            font-size: 0.9rem;
                            margin: 0;
                        }

                        /* Education System Grid */
                        .education-system-grid {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                            gap: 1rem;
                            margin-top: 1rem;
                        }

                        .system-card {
                            background: white;
                            padding: 1.5rem;
                            border-radius: 8px;
                            border: 1px solid #e9ecef;
                            text-align: center;
                        }

                        .system-card h6 {
                            color: #24519a;
                            margin-bottom: 0.5rem;
                        }

                        .system-card p {
                            color: #6c757d;
                            font-size: 0.9rem;
                            margin: 0;
                        }

                        /* Requirements Grid */
                        .requirements-grid {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                            gap: 2rem;
                            margin-top: 1rem;
                        }

                        .requirement-section {
                            background: #f8f9fa;
                            padding: 1.5rem;
                            border-radius: 8px;
                        }

                        .requirement-section h6 {
                            color: #24519a;
                            margin-bottom: 1rem;
                            border-bottom: 2px solid #24519a;
                            padding-bottom: 0.5rem;
                        }

                        .requirement-section ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }

                        .requirement-section li {
                            padding: 0.5rem 0;
                            border-bottom: 1px solid #dee2e6;
                        }

                        .requirement-section li:last-child {
                            border-bottom: none;
                        }

                        /* Courses Tags */
                        .courses-tags {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 0.5rem;
                            margin-top: 1rem;
                        }

                        .course-tag {
                            background: #e3f2fd;
                            color: #1565c0;
                            padding: 0.5rem 1rem;
                            border-radius: 20px;
                            font-size: 0.9rem;
                            border: 1px solid #bbdefb;
                        }

                        /* Visa Steps */
                        .visa-steps {
                            margin-top: 1rem;
                        }

                        .visa-step {
                            display: flex;
                            align-items: flex-start;
                            margin-bottom: 1.5rem;
                            padding: 1rem;
                            background: #f8f9fa;
                            border-radius: 8px;
                        }

                        .step-number {
                            background: #24519a;
                            color: white;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 1rem;
                            flex-shrink: 0;
                        }

                        .step-content h6 {
                            color: #2c3e50;
                            margin-bottom: 0.5rem;
                        }

                        .step-content p {
                            color: #6c757d;
                            margin: 0;
                            font-size: 0.9rem;
                        }

                        /* Financial Table */
                        .financial-table {
                            margin-top: 1rem;
                        }

                        .financial-row {
                            display: flex;
                            justify-content: space-between;
                            padding: 1rem;
                            border-bottom: 1px solid #e9ecef;
                        }

                        .financial-row.total {
                            background: #e8f5e9;
                            border-radius: 0 0 8px 8px;
                            font-weight: bold;
                            color: #2e7d32;
                        }

                        /* Work Opportunities */
                        .work-opportunities {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                            gap: 2rem;
                            margin-top: 1rem;
                        }

                        .work-type h6 {
                            color: #24519a;
                            margin-bottom: 1rem;
                        }

                        /* CTA Buttons */
                        .cta-buttons {
                            display: flex;
                            gap: 1rem;
                            margin-top: 1.5rem;
                            flex-wrap: wrap;
                        }

                        .ed-btn.secondary {
                            background: #6c757d;
                            border-color: #6c757d;
                        }

                        .ed-btn.secondary:hover {
                            background: #5a6268;
                            border-color: #545b62;
                        }

                        /* Sidebar Styles */
                        .usa-facts-list li {
                            display: flex;
                            justify-content: space-between;
                            padding: 0.75rem 0;
                            border-bottom: 1px solid #e9ecef;
                        }

                        .universities-list,
                        .scholarships-list {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }

                        .universities-list li,
                        .scholarships-list li {
                            padding: 0.5rem 0;
                            border-bottom: 1px solid #e9ecef;
                        }

                        .intakes-list {
                            margin-top: 0.5rem;
                        }

                        .intake-item {
                            display: flex;
                            justify-content: space-between;
                            padding: 0.75rem 0;
                            border-bottom: 1px solid #e9ecef;
                        }

                        .intake-item strong {
                            color: #24519a;
                        }

                        /* Responsive Design */
                        @media (max-width: 768px) {

                            .usa-highlights-grid,
                            .education-system-grid,
                            .requirements-grid,
                            .work-opportunities {
                                grid-template-columns: 1fr;
                            }

                            .cta-buttons {
                                flex-direction: column;
                            }

                            .visa-step {
                                flex-direction: column;
                                text-align: center;
                            }

                            .step-number {
                                margin-right: 0;
                                margin-bottom: 0.5rem;
                            }
                        }
                    </style>
                </section>
                <!-- End Course Details Area -->

                <!-- Start Call Action Area -->
                <section class="ed-call-action position-relative">
                    <div class="container ed-container">
                        <div class="ed-call-action__inner position-relative">
                            <div class="ed-call-action__shapes">
                                <img class="ed-call-action__shape-1 rotate-ani"
                                    src="/images/call-action/call-action-1/shape-1.svg" alt="shape-1" />
                                <img class="ed-call-action__shape-2" src="/images/call-action/call-action-1/shape-2.svg"
                                    alt="shape-2" />
                                <img class="ed-call-action__shape-3 updown-ani"
                                    src="/images/call-action/call-action-1/shape-3.svg" alt="shape-3" />
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="ed-call-action__img">
                                        <img src="/images/call-action/call-action-1/call-action-img.png"
                                            alt="call-action-img" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 order-class">
                                    <div class="ed-call-action__content">
                                        <div class="ed-section-head">
                                            <span class="ed-section-head__sm-title">LEARN WITH US</span>
                                            <h3 class="ed-section-head__title">
                                                Start Your Learning Journey Today <br />
                                                With Expert-Led Courses
                                            </h3>
                                            <p class="ed-section-head__text">
                                                Gain practical knowledge, upgrade your skills, and open doors to new
                                                opportunities. Join thousands of students who are already learning with
                                                us.
                                            </p>
                                        </div>
                                        <div class="ed-call-action__content-btn">
                                            <a href="/course" class="ed-btn"> Explore Courses <i
                                                    class="fi fi-rr-arrow-small-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Call Action Area -->
            </main>

            <!-- Start Footer Area -->
            <footer class="ed-footer  main-footer position-relative">
                <!-- Footer Top -->
                <div class="ed-footer__top position-relative">
                    <div class="ed-footer__shapes">
                        <img loading="lazy" class="ed-footer__shape-1" src="/images/footer/footer-1/shape-1.svg"
                            alt="shape-1" />
                        <img loading="lazy" class="ed-footer__shape-2 rotate-ani"
                            src="/images/footer/footer-1/shape-2.svg" alt="shape-2" />
                        <img loading="lazy" class="ed-footer__shape-3" src="/images/footer/footer-1/shape-3.svg"
                            alt="shape-3" />
                    </div>
                    <div class="container ed-container">
                        <div class="row g-0">
                            <!-- About Widget -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-footer__widget ed-footer__about">
                                    <a href="/" class="ed-footer__logo">
                                        <img loading="lazy" src="/images/iimf/logo.png" alt="IIMF Academy Logo" />
                                    </a>
                                    <p class="ed-footer__about-text">
                                        IIMF Academy is committed to providing quality education and practical skills
                                        for a brighter future.
                                        Join us to achieve your learning and career goals.
                                    </p>
                                    <ul class="ed-footer__about-social">
                                        <li>
                                            <a href="https://www.facebook.com/iimfacademy" target="_blank"><img
                                                    loading="lazy" src="/images/icons/icon-dark-facebook.svg"
                                                    alt="icon-dark-facebook" /></a>
                                        </li>
                                        <li>
                                            <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy"
                                                    src="/images/iimf/twitter.png" alt="icon-dark-facebook" /></a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/channel/UC9spuSXtDgYxM_iYLtsAZPg"
                                                target="_blank"><img loading="lazy" src="/images/iimf/yt.png"
                                                    alt="icon-dark-yt" /></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/company/iimf-academy/"
                                                target="_blank"><img loading="lazy" src="/images/iimf/lk.png"
                                                    alt="icon-dark-linkedin" /></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img
                                                    loading="lazy" src="/images/icons/icon-dark-instagram.svg"
                                                    alt="icon-dark-instagram" /></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Quick Links -->
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="ed-footer__widget">
                                    <h4 class="ed-footer__widget-title">Quick Links</h4>
                                    <ul class="ed-footer__widget-links">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/courses">Courses</a></li>
                                        <li><a href="/events">Events</a></li>
                                        <li><a href="/gallery">
                                                Gallery
                                            </a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/blogs">News & Articles</a></li>
                                        <li><a href="/career">Find Jobs</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="ed-footer__widget">
                                    <h4 class="ed-footer__widget-title">More Links</h4>
                                    <ul class="ed-footer__widget-links">
                                        <li><a href="/studyAbroad">Study Abroad</a></li>
                                        <li><a href="/assesment">Online Test</a></li>
                                        <li><a href="/ielts-pte">Ielts & Pte</a></li>
                                        <li><a href="/languageTraining">Language Training</a></li>
                                        <li><a href="/corporates">Corporates</a></li>
                                        <li><a href="/school-campus">School To Campus</a></li>
                                        <li><a href="/campus-corporates">Campus To Corporate</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Contact Info -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-footer__widget contact-widget">
                                    <h4 class="ed-footer__widget-title">Contact Us</h4>

                                    <!-- Phone -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-phone-blue.svg" alt="phone" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Call Us</span>
                                            <div class="d-flex flex-column gap-2">
                                                <a href="tel:+914844525521">0484 4525 521</a>
                                                <a href="tel:+917994499918">799 4499 918</a>
                                                <a href="tel:+917994400918">799 4400 918</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-envelope-blue.svg"
                                                alt="email" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Email</span>
                                            <a href="mailto:info@iimfacademy.com">info@iimfacademy.com</a>
                                        </div>
                                    </div>

                                    <!-- Location -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-location-blue.svg"
                                                alt="location" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Our Location</span>
                                            <a href="#" target="_blank">Trivandrum, Kerala, India</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Newsletter -->


                        </div>
                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="ed-footer__bottom">
                    <div class="container ed-container">
                        <div class="row">
                            <div class="col-12">
                                <p class="ed-footer__copyright-text">
                                    © 2025 IIMF Academy | Developed by <a href="https://trivlogic.com"
                                        target="_blank">Trivlogic Pvt Ltd</a>. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer Area  -->
        </div>
    </div>
    <a href="/assessment"> <button class="magnetwave-task-orb attract">

            <div class="magnetwave-orb-text">ONLINE<br>TASK</div>
        </button></a>
    <nav class="celestial-nav-container">
        <ul class="stellar-nav-list">
            <li class="orbital-nav-item">
                <a href="/" class="cosmic-nav-link active">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
                    </svg>
                    <span class="constellation-nav-text">Home</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/assesment" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path
                            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
                    </svg>
                    <span class="constellation-nav-text">Assessment</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/courses" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
                    </svg>
                    <span class="constellation-nav-text">Courses</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/about" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                    </svg>
                    <span class="constellation-nav-text">About</span>
                </a>
            </li>

            <li class="orbital-nav-item">
                <a href="/contact" class="cosmic-nav-link">
                    <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                        <path
                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                    </svg>
                    <span class="constellation-nav-text">Contact</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Start Login Modal -->
    <div class="modal fade ed-auth__modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>

                <!-- Auth Head  -->
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Sign In Now</h3>
                    <p class="ed-auth__modal-text">
                        Didn’t Create an account?
                        <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal">
                            Sign Up
                        </button>
                    </p>
                </div>

                <!-- Auth Body  -->
                <div class="ed-auth__modal-body">
                    <form id="loginForm" action="/api/auth/user-login" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter email" required />
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" name="password" placeholder="Enter password" required
                                id="loginPassword" />
                            <span class="toggle-password" toggle="#loginPassword"
                                style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="loginPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input custom-check" type="checkbox" value=""
                                    id="flexCheckDefault" />
                                Remember me
                            </label>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="loginSubmitBtn">
                                <span class="btn-text">Sign In</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                        <div class="mt-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal"
                                data-bs-dismiss="modal">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Modal -->

    <!-- Toastify CSS & JS (add to your <head> or before this script if not already included) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>



    <!-- Start Register Modal -->
    <div class="modal fade ed-auth__modal" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>

                <!-- Auth Head  -->
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Sign Up Now</h3>
                    <p class="ed-auth__modal-text">
                        Already have an account?
                        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal"
                            data-bs-dismiss="modal">
                            Sign In
                        </button>
                    </p>
                </div>

                <!-- Auth Body  -->
                <div class="ed-auth__modal-body">
                    <form id="registerForm" action="/api/auth/user-register" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Enter full name" required />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter email" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="mobile" placeholder="Enter mobile number" required />
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" name="password" placeholder="Enter password" required
                                id="registerPassword" />
                            <span class="toggle-password" toggle="#registerPassword"
                                style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="registerPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault2" style="cursor:pointer;">
                                <input class="form-check-input custom-check" type="checkbox" value=""
                                    id="flexCheckDefault2" required />
                                I agree with your <strong>Privacy Policy</strong>
                            </label>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="registerSubmitBtn">
                                <span class="btn-text">Register Now</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <!-- OTP Verification Section (hidden by default, shown after registration) -->
                    <form id="otpForm" action="/api/auth/verify-otp" method="post" class="ed-auth__modal-form"
                        style="display:none;">
                        <div class="form-group">
                            <input type="hidden" name="email" id="otpEmail" />
                            <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="otpSubmitBtn">
                                <span class="btn-text">Verify OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Register Modal -->

    <!-- Start Forgot Password Modal -->
    <div class="modal fade ed-auth__modal" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Forgot Password</h3>
                </div>
                <div class="ed-auth__modal-body">
                    <form id="forgotPasswordForm" action="/api/auth/forgot-password" method="post"
                        class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter your registered email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="forgotSubmitBtn">
                                <span class="btn-text">Send OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <!-- OTP and Reset Password Section (hidden by default, shown after sending OTP) -->
                    <form id="resetPasswordOtpForm" action="/api/auth/verify-otp-password" method="post"
                        class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group">
                            <input type="hidden" name="email" id="resetOtpEmail" />
                            <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="resetOtpSubmitBtn">
                                <span class="btn-text">Verify OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <form id="resetPasswordForm" action="/api/auth/reset-password" method="post"
                        class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group position-relative">
                            <input type="hidden" name="email" id="resetEmail" />
                            <input type="password" name="password" placeholder="Enter new password" required
                                id="resetPassword" />
                            <span class="toggle-password" toggle="#resetPassword"
                                style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="resetPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="resetPasswordSubmitBtn">
                                <span class="btn-text">Reset Password</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forgot Password Modal -->

    <script>
        // Helper for Toastify
        function showToast(message, type = "info") {
            Toastify({
                text: message,
                duration: 3500,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: type === "success" ? "#28a745" : (type === "error" ? "#dc3545" : "#24519a"),
                stopOnFocus: true,
            }).showToast();
        }

        // Password show/hide logic
        document.addEventListener('DOMContentLoaded', function () {
            function setupPasswordToggle(toggleSelector, inputSelector, iconSelector) {
                const toggle = document.querySelector(toggleSelector);
                const input = document.querySelector(inputSelector);
                const icon = document.querySelector(iconSelector);
                if (toggle && input && icon) {
                    toggle.addEventListener('click', function () {
                        if (input.type === "password") {
                            input.type = "text";
                            icon.classList.remove('fi-rr-eye');
                            icon.classList.add('fi-rr-eye-crossed');
                        } else {
                            input.type = "password";
                            icon.classList.remove('fi-rr-eye-crossed');
                            icon.classList.add('fi-rr-eye');
                        }
                    });
                }
            }
            setupPasswordToggle('.toggle-password[toggle="#loginPassword"]', '#loginPassword', '#loginPasswordIcon');
            setupPasswordToggle('.toggle-password[toggle="#registerPassword"]', '#registerPassword', '#registerPasswordIcon');
            setupPasswordToggle('.toggle-password[toggle="#resetPassword"]', '#resetPassword', '#resetPasswordIcon');

            // Button loading logic
            function setButtonLoading(btn, isLoading) {
                if (!btn) return;
                const text = btn.querySelector('.btn-text');
                const loading = btn.querySelector('.btn-loading');
                if (isLoading) {
                    if (text) text.style.display = 'none';
                    if (loading) loading.style.display = 'inline-flex';
                    btn.disabled = true;
                } else {
                    if (text) text.style.display = '';
                    if (loading) loading.style.display = 'none';
                    btn.disabled = false;
                }
            }

            // Login form loading
            const loginForm = document.getElementById('loginForm');
            if (loginForm) {
                loginForm.addEventListener('submit', function () {
                    const btn = document.getElementById('loginSubmitBtn');
                    setButtonLoading(btn, true);
                });
            }

            // Registration with OTP logic
            const registerForm = document.getElementById('registerForm');
            const otpForm = document.getElementById('otpForm');
            if (registerForm && otpForm) {
                registerForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('registerSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(registerForm);
                    const payload = {
                        name: formData.get('name'),
                        email: formData.get('email'),
                        mobile: formData.get('mobile'),
                        password: formData.get('password')
                    };

                    try {
                        const res = await fetch('/api/auth/user-register', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(payload)
                        });

                        const data = await res.json();
                        if (data.success && data.email) {
                            registerForm.style.display = 'none';
                            otpForm.style.display = '';
                            document.getElementById('otpEmail').value = data.email;
                            showToast('OTP sent to your email. Please verify.', 'success');
                        } else {
                            showToast(data.message || 'Registration failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                otpForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('otpSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const email = document.getElementById('otpEmail').value;
                    const otp = otpForm.querySelector('input[name="otp"]').value;

                    try {
                        const res = await fetch('/api/auth/verify-otp', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ email, otp })
                        });

                        const data = await res.json();
                        if (data.success) {
                            showToast(data.message || 'Logged in successfully!', 'success');
                            otpForm.style.display = 'none';
                            document.getElementById('registerModal').querySelector('.ed-auth__modal-close').click();

                            // reload page to reflect logged-in state
                            window.location.reload();
                        } else {
                            showToast(data.message || 'OTP verification failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });
            }

            // Forgot password logic
            const forgotPasswordForm = document.getElementById('forgotPasswordForm');
            const resetPasswordOtpForm = document.getElementById('resetPasswordOtpForm');
            const resetPasswordForm = document.getElementById('resetPasswordForm');
            if (forgotPasswordForm && resetPasswordOtpForm && resetPasswordForm) {
                forgotPasswordForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('forgotSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(forgotPasswordForm);
                    try {
                        const res = await fetch('/api/auth/forgot-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success && data.email) {
                            forgotPasswordForm.style.display = 'none';
                            resetPasswordOtpForm.style.display = '';
                            document.getElementById('resetOtpEmail').value = data.email;
                            showToast('OTP sent to your email. Please verify.', 'success');
                        } else {
                            showToast(data.message || 'Failed to send OTP', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                resetPasswordOtpForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('resetOtpSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(resetPasswordOtpForm);
                    try {
                        const res = await fetch('/api/auth/verify-otp-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success && data.email) {
                            resetPasswordOtpForm.style.display = 'none';
                            resetPasswordForm.style.display = '';
                            document.getElementById('resetEmail').value = data.email;
                            showToast('OTP verified. Please enter your new password.', 'success');
                        } else {
                            showToast(data.message || 'OTP verification failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                resetPasswordForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('resetPasswordSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(resetPasswordForm);
                    try {
                        const res = await fetch('/api/auth/reset-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success) {
                            showToast('Password reset successful! You can now login.', 'success');
                            resetPasswordForm.style.display = 'none';
                            document.getElementById('forgotPasswordModal').querySelector('.ed-auth__modal-close').click();
                        } else {
                            showToast(data.message || 'Password reset failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });
            }
        });
    </script>

    <!-- Start Sidebar  -->
    <div class="offcanvas offcanvas-end ed-sidebar" tabindex="-1" id="edSidebar" aria-labelledby="offcanvasRightLabel">
        <div class="ed-sidebar-header">
            <a href="/" class="ed-sidebar-logo">
                <img src="/images/iimf/logo.png" alt="logo" />
            </a>
            <button type="button" class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fi fi-rr-cross"></i>
            </button>
        </div>
        <div class="ed-sidebar-body m-0">
            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Contacts Us:</h3>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-phone-blue.svg" alt="icon-phone-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>24/7 Support</span>
                        <a href="tel:+914844525521">0484 4525 521</a>
                    </div>
                </div>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-envelope-blue.svg" alt="icon-envelope-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Send Message</span>
                        <a href="mailto:eduna@gmail.com">iimf@gmail.com3</a>
                    </div>
                </div>

                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-location-blue.svg" alt="icon-location-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Our Locati0n</span>
                        <a href="#">IIMF Trivandrum ,Keala,673641</a>
                    </div>
                </div>
            </div>

            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Follow Us:</h3>
                <ul class="ed-sidebar-social">
                    <li>
                        <a href="https://www.facebook.com/iimfacademy" target="_blank"><img loading="lazy"
                                src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                    </li>
                    <li>
                        <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy"
                                src="/images/iimf/twitter.png" alt="icon-dark-facebook" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC9spuSXtDgYxM_iYLtsAZPg" target="_blank"><img
                                loading="lazy" src="/images/iimf/yt.png" alt="icon-dark-yt" /></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/iimf-academy/" target="_blank"><img loading="lazy"
                                src="/images/iimf/lk.png" alt="icon-dark-linkedin" /></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img loading="lazy"
                                src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                    </li>
                </ul>
            </div>


        </div>
        <!-- End Sidebar  -->

        <!-- Start Back To Top  -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- End Back To Top -->

        <!-- Jquery JS -->
        <script src="/plugins/js/jquery.min.js"></script>
        <script src="/plugins/js/jquery-migrate.js"></script>
        <!-- Bootstrap JS -->
        <script src="/plugins/js/bootstrap.min.js"></script>

        <!-- Gsap JS -->
        <script src="/plugins/js/gsap/gsap.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-to-plugin.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-smoother.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-trigger.js"></script>
        <script src="/plugins/js/gsap/gsap-split-text.js"></script>

        <!-- Wow JS -->
        <script src="/plugins/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/plugins/js/owl.carousel.min.js"></script>
        <!-- Swiper Slider JS -->
        <script src="/plugins/js/swiper-bundle.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/plugins/js/magnific-popup.min.js"></script>
        <!-- CounterUp  JS -->
        <script src="/plugins/js/jquery.counterup.min.js"></script>
        <script src="/plugins/js/waypoints.min.js"></script>
        <!-- Nice Select JS -->
        <script src="/plugins/js/nice-select.min.js"></script>
        <!-- Back To Top JS -->
        <script src="/plugins/js/backToTop.js"></script>

        <!-- Main JS -->
        <script src="/plugins/js/active.js"></script>
</body>

</html>