<!DOCTYPE html>
<html class="no-js" lang="ZXX">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TD6Q5JQD');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="thumbnail" content="/images/eduna-page-thumbnail.html" />
    <meta name="description" content="iimfacademy" />
    <meta name="keywords" content="iimfacademy" />
    <meta name="author" content="Trivlogic" />

    <title>Assessment Page </title>
    <link rel="shortcut icon" href="/images/iimf/logo.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/css/bootstrap.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/css/animate.min.css" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/plugins/css/owl.carousel.min.css" />
    <!-- Swiper Slider CSS -->
    <link rel="stylesheet" href="/plugins/css/swiper-bundle.min.css" />
    <!-- Maginific Popup CSS -->
    <link rel="stylesheet" href="/plugins/css/maginific-popup.min.css" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/plugins/css/nice-select.min.css" />
    <!-- Icofont -->
    <link rel="stylesheet" href="/plugins/css/icofont.css" />
    <!-- Uicons -->
    <link rel="stylesheet" href="/plugins/css/uicons.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9MTVEJ4YNF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9MTVEJ4YNF');
</script>
</head>

<body class="element-wrapper">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD6Q5JQD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Custom Cursor Start -->
    <div id="ed-mouse">
        <div id="cursor-ball"></div>
    </div>
    <!-- Custom Cursor End -->

 <!-- Start Mobile Menu Offcanvas -->
 <div class="modal mobile-menu-modal offcanvas-modal fade" id="offcanvas-modal">
    <div class="modal-dialog offcanvas-dialog">
        <div class="modal-content">
            <div class="modal-header offcanvas-header">
                <!-- Mobile Menu Logo -->
                <div class="offcanvas-logo">
                    <a href="/"><img loading="lazy" src="/images/iimf/logo.png" alt="#" /></a>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi fi-ss-cross"></i>
                </button>
            </div>
            <div class="mobile-menu-modal-main-body">
                <!-- Mobile Menu Navigation -->
                <nav class="offcanvas__menu">
                    <ul class="offcanvas__menu_ul">
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/">Home</a>

                        </li>

                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/courses">Courses</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/assesment">Assessment</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/studyAbroad">Study Abroad</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/ielts-pte">Ielts & Pte</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/languageTraining">Language Training</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item active" href="/corporates">Corporates</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/school-campus">School To Campus</a>


                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/campus-corporates">Campus To Corporates </a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/events">Events</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/gallery">Gallery</a>

                        </li>


                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/about">About</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item " href="/blogs">News</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/career">Find Jobs</a>

                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Menu Offcanvas -->

   <!-- Start Topbar Area  -->
   <div class="ed-topbar">
    <div class="container ed-container-expand">
        <div class="ed-topbar__inner">
            <!-- Logo  -->
            <div class="ed-topbar__logo">
                <a href="/">
                    <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                </a>
            </div>

            <!-- Category Dropdown -->
            <div class="ed-topbar__search-widget">
                <div class="ed-topbar__category">
                    <form id="categoryForm" action="/courses" method="get" style="margin-bottom:0;">
                        <select name="category" id="categorySelect" onchange="document.getElementById('categoryForm').submit()">
                          <option value="">All Categories</option>
                          <% courseCategories.forEach(function(category) { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                          <% }) %>
                        </select>
                      </form>
                </div>
                <div class="ed-topbar__search">
                    <form action="/courses" method="get">
                        <input type="search" name="search" placeholder="Search your courses..." required />
                        <button type="submit">Search<i class="fi-rr-search"></i></button>
                    </form>
                </div>
            </div>

            <!-- Topbar Info -->
            <div class="ed-topbar__info">
                <!-- Topbar Social -->
                <ul class="ed-topbar__info-social">
                      <li>
                            <a href="https://www.facebook.com/iimfacademy" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy" src="/images/iimf/twitter.png"
                                    alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
<a href="https://www.youtube.com/channel/UC9spuSXtDgYxM_iYLtsAZPg" target="_blank"><img loading="lazy" src="/images/iimf/yt.png"
                                    alt="icon-dark-yt" /></a>
                        </li>
                                                <li>
                            <a href="https://www.linkedin.com/company/iimf-academy/" target="_blank"><img loading="lazy" src="/images/iimf/lk.png"
                                    alt="icon-dark-linkedin" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                        </li>
                </ul>
                <!-- Topbar Button -->
                <% if (user) { %>
                    <div class="ed-topbar__info-buttons">
                        <a href="/profile" class="ed-btn my-account-btn">My Account</a>
                    </div>
                <% } else { %>
                    <div class="ed-topbar__info-buttons">
                        <button type="button" class="register-btn" data-bs-toggle="modal"
                            data-bs-target="#registerModal">
                            Register
                        </button>
                        <button type="button" class="login-btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Log In
                        </button>
                    </div>
                <% } %>

                <!-- Mobile Menu Button -->
                <button type="button" class="mobile-menu-offcanvas-toggler" data-bs-toggle="modal"
                    data-bs-target="#offcanvas-modal">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
                <!-- End Mobile Menu Button -->
            </div>
        </div>
    </div>
</div>
<!-- End Topbar Area -->

<!-- Start Header Area -->
<header class="ed-header">
    <div class="container ed-container-expand">
        <div class="ed-header__inner">
            <div class="row align-items-center justify-center">
                <div class="col-lg-12 col-12">
                    <!-- Navigation Menu -->
                    <nav class="ed-header__navigation flex justify-center text-center">
                        <ul class="ed-header__menu">
                            <li >
                                <a href="/">Home</a>

                            </li>
                            <li >
                                <a href="/courses">Courses</a>

                            </li>

                            <!-- <li>
                                <a href="/studyAbroad">Study Abroad</a>
                            </li> -->
                            <li>
                                <a href="/assesment">Skill Challenge</a>
                            </li>



                            <li>
                                <a href="/ielts-pte">IELTS & PTE</a>

                            </li>
                            <li>
                                <a href="/languageTraining">Language Training</a>

                            </li>


                            <li class="active">
                                <a href="/corporates"> Corporates </a>

                            </li>
                            <li>
                                <a href="javascript:void(0)">Summer Camp<i
                                        class="fi fi-ss-angle-small-down"></i></a>
                                <ul class="sub-menu">


                                    <li><a href="/school-campus">School to Campus</a></li>
                                    <li>
                                        <a href="/campus-corporates">Campus to Corporate</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/gallery">Gallery</a>

                            </li>

                            <li>
                                <a href="/about">About</a>

                            </li>
                            <li>
                                <a href="/career">Find Jobs</a>

                            </li>



                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                <div class="section-bg hero-bg">
                    <!-- Start Bredcrumbs Area -->
                    <section class="ed-breadcrumbs background-image"
                        style="background-image: url('/images/breadcrumbs-bg.png');">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-10 col-12">
                                    <div class="ed-breadcrumbs__content text-center">
                                        <h3 class="ed-breadcrumbs__title">Start Your Assessment</h3>
                                        <p class="lead mt-3 mb-4">
                                            Ready to challenge yourself? This is your chance to showcase your knowledge and skills!
                                            <br>
                                            Answer each question carefully and submit your responses to see how you perform.
                                            <br>
                                            Good luck – your journey to success starts here!
                                        </p>
                                        <ul class="ed-breadcrumbs__menu justify-content-center">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li>/</li>
                                            <li>Start Assessment</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Bredcrumbs Area -->
                </div>

               

                <div class="assessment-wrapper">
                    <div class="assessment-header">
                        <h3><i class="fas fa-file-alt me-2"></i><%= assessment.title %></h3>
                        <p>Total Questions: <%= assessment.questions.length %></p>
                    </div>
                    <form id="assessmentForm" action="/submit" method="post" autocomplete="off">
                        <input type="hidden" name="attemptId" value="<%= attempt._id %>">
                        <% assessment.questions.forEach(function(q, index) { %>
                            <div class="question-card">
                                <h5 class="question-text">
                                    <span class="badge">Q<%= index + 1 %></span>
                                    <%= q.question.questionText %>
                                </h5>
                                <div class="options">
                                    <% q.question.options.forEach(function(option, optIndex) { %>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                type="radio"
                                                name="answers[<%= index %>][selected]"
                                                value="<%= optIndex %>"
                                                id="q<%= index %>_opt<%= optIndex %>"
                                                required>
                                            <label class="form-check-label" for="q<%= index %>_opt<%= optIndex %>">
                                                <%= option %>
                                            </label>
                                            <input type="hidden"
                                                name="answers[<%= index %>][questionId]"
                                                value="<%= q.question._id %>">
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        <% }); %>
                        <div class="text-center mt-4">
                            <button type="submit" class="submit-btn">
                                <i class="fas fa-paper-plane me-2"></i>Submit Assessment
                            </button>
                        </div>
                    </form>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                <script>
                    document.getElementById('assessmentForm').addEventListener('submit', function(e) {
                        e.preventDefault();

                        var totalQuestions = <%= assessment.questions.length %>;
                        var answeredQuestions = document.querySelectorAll('.form-check-input:checked').length;

                        if (answeredQuestions < totalQuestions) {
                            var unanswered = totalQuestions - answeredQuestions;
                            alert('You have ' + unanswered + ' unanswered question(s). Please answer all questions before submitting.');
                            return false;
                        }

                        // Show loading state
                        var submitBtn = this.querySelector('button[type="submit"]');
                        submitBtn.innerHTML = '<i class="fas fa-spinner fa-spin me-2"></i>Submitting...';
                        submitBtn.disabled = true;

                        // Get form data
                        var formData = new FormData(this);
                        var attemptId = formData.get('attemptId');
                        var answers = [];

                        // Collect all answers properly
                        document.querySelectorAll('.question-card').forEach(function(card, index) {
                            var selectedRadio = card.querySelector('input[type="radio"]:checked');
                            var questionIdInput = card.querySelector('input[type="hidden"][name*="questionId"]');

                            if (selectedRadio && questionIdInput) {
                                answers.push({
                                    questionId: questionIdInput.value,
                                    selected: parseInt(selectedRadio.value)
                                });
                            }
                        });

                        fetch('/submit', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                attemptId: attemptId,
                                answers: answers
                            })
                        })
                        .then(function(response) {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(function(data) {
                            if (data.success) {
                                window.location.href = '/result/' + data.attemptId;
                            } else {
                                alert('Error: ' + data.message);
                                submitBtn.innerHTML = '<i class="fas fa-paper-plane me-2"></i>Submit Assessment';
                                submitBtn.disabled = false;
                            }
                        })
                        .catch(function(error) {
                            alert('Network error. Please try again.');
                            submitBtn.innerHTML = '<i class="fas fa-paper-plane me-2"></i>Submit Assessment';
                            submitBtn.disabled = false;
                        });
                    });
                </script>

                <section class="ed-call-action position-relative">
                    <div class="container ed-container">
                        <div class="ed-call-action__inner position-relative">
                            <div class="ed-call-action__shapes">
                                <img class="ed-call-action__shape-1 rotate-ani"
                                    src="/images/call-action/call-action-1/shape-1.svg" alt="shape-1" />
                                <img class="ed-call-action__shape-2" src="/images/call-action/call-action-1/shape-2.svg"
                                    alt="shape-2" />
                                <img class="ed-call-action__shape-3 updown-ani"
                                    src="/images/call-action/call-action-1/shape-3.svg" alt="shape-3" />
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="ed-call-action__img">
                                        <img src="/images/call-action/call-action-1/call-action-img.png"
                                            alt="call-action-img" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 order-class">
                                    <div class="ed-call-action__content">
                                        <div class="ed-section-head">
                                            <span class="ed-section-head__sm-title">LEARN WITH US</span>
                                            <h3 class="ed-section-head__title">
                                                Start Your Learning Journey Today <br />
                                                With Expert-Led Courses
                                            </h3>
                                            <p class="ed-section-head__text">
                                                Gain practical knowledge, upgrade your skills, and open doors to new
                                                opportunities. Join thousands of students who are already learning with
                                                us.
                                            </p>
                                        </div>
                                        <div class="ed-call-action__content-btn">
                                            <a href="/courses" class="ed-btn"> Explore Courses <i
                                                    class="fi fi-rr-arrow-small-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- Start Footer Area -->
            <footer class="ed-footer  main-footer position-relative">
                <!-- Footer Top -->
                <div class="ed-footer__top position-relative">
                    <div class="ed-footer__shapes">
                        <img loading="lazy" class="ed-footer__shape-1" src="/images/footer/footer-1/shape-1.svg" alt="shape-1" />
                        <img loading="lazy" class="ed-footer__shape-2 rotate-ani" src="/images/footer/footer-1/shape-2.svg"
                            alt="shape-2" />
                        <img loading="lazy" class="ed-footer__shape-3" src="/images/footer/footer-1/shape-3.svg" alt="shape-3" />
                    </div>
                    <div class="container ed-container">
                        <div class="row g-0">
                            <!-- About Widget -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-footer__widget ed-footer__about">
                                    <a href="/" class="ed-footer__logo">
                                        <img loading="lazy" src="/images/iimf/logo.png" alt="IIMF Academy Logo" />
                                    </a>
                                    <p class="ed-footer__about-text">
                                        IIMF Academy is committed to providing quality education and practical skills
                                        for a brighter future.
                                        Join us to achieve your learning and career goals.
                                    </p>
                                    <ul class="ed-footer__about-social">
                                         <li>
                            <a href="https://www.facebook.com/iimfacademy" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy" src="/images/iimf/twitter.png"
                                    alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                       <a href="https://www.youtube.com/channel/UC9spuSXtDgYxM_iYLtsAZPg" target="_blank"><img loading="lazy" src="/images/iimf/yt.png"
                                    alt="icon-dark-yt" /></a>
                        </li>
                                                <li>
                            <a href="https://www.linkedin.com/company/iimf-academy/" target="_blank"><img loading="lazy" src="/images/iimf/lk.png"
                                    alt="icon-dark-linkedin" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Quick Links -->
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="ed-footer__widget">
                                    <h4 class="ed-footer__widget-title">Quick Links</h4>
                                    <ul class="ed-footer__widget-links">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/courses">Courses</a></li>
                                        <li><a href="/events">Events</a></li>
                                        <li><a href="/gallery">
                                                Gallery
                                            </a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/blogs">News & Articles</a></li>
                                        <li><a href="/career">Find Jobs</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12">
                                <div class="ed-footer__widget">
                                    <h4 class="ed-footer__widget-title">More Links</h4>
                                    <ul class="ed-footer__widget-links">
                                        <li><a href="/studyAbroad">Study Abroad</a></li>
                                        <li><a href="/assesment">Online Test</a></li>
                                        <li><a href="/ielts-pte">Ielts & Pte</a></li>
                                        <li><a href="/languageTraining">Language Training</a></li>
                                        <li><a href="/corporates">Corporates</a></li>
                                        <li><a href="/school-campus">School To Campus</a></li>
                                        <li><a href="/campus-corporates">Campus To Corporate</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Contact Info -->
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="ed-footer__widget contact-widget">
                                    <h4 class="ed-footer__widget-title">Contact Us</h4>

                                    <!-- Phone -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-phone-blue.svg" alt="phone" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Call Us</span>
                                                 <div class="d-flex flex-column gap-2">
          <a href="tel:+914844525521">0484 4525 521</a>
                                                 <a href="tel:+917994499918">799 4499 918</a>
                                                      <a href="tel:+917994400918">799 4400 918</a>
                                            </div>
                                    </div>

                                    <!-- Email -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-envelope-blue.svg" alt="email" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Email</span>
                                            <a href="mailto:info@iimfacademy.com">info@iimfacademy.com</a>
                                        </div>
                                    </div>

                                    <!-- Location -->
                                    <div class="ed-footer__contact">
                                        <div class="ed-footer__contact-icon">
                                            <img loading="lazy" src="/images/icons/icon-location-blue.svg" alt="location" />
                                        </div>
                                        <div class="ed-footer__contact-info">
                                            <span>Our Location</span>
                                            <a href="#" target="_blank">Kochi, Kerala, India</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Newsletter -->


                        </div>
                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="ed-footer__bottom">
                    <div class="container ed-container">
                        <div class="row">
                            <div class="col-12">
                                <p class="ed-footer__copyright-text">
                                    © 2025 IIMF Academy | Developed by <a href="https://trivlogic.com"
                                        target="_blank">Trivlogic Pvt Ltd</a>. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer Area  -->
        </div>
    </div>
    <a href="/assesment"> <button class="magnetwave-task-orb attract">

            <div class="magnetwave-orb-text">ONLINE<br>TASK</div>
        </button></a>
             <div class="ctw__contact-widget-container">
        <!-- WhatsApp Button -->
        <div class="ctw__icon-wrapper" onclick="openWhatsApp()">
            <div class="ctw__whatsapp-btn">
                <div class="ctw__ripple"></div>
                <svg class="ctw__icon-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"/>
                </svg>
            </div>
            <div class="ctw__tooltip">Chat on WhatsApp</div>
        </div>

        <!-- Call Button -->
        <div class="ctw__icon-wrapper" onclick="makeCall()">
            <div class="ctw__call-btn">
                <div class="ctw__ripple"></div>
                <svg class="ctw__icon-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56a.977.977 0 0 0-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z"/>
                </svg>
            </div>
            <div class="ctw__tooltip">Call Us Now</div>
        </div>
    </div>
        <nav class="celestial-nav-container">
            <ul class="stellar-nav-list">
                <li class="orbital-nav-item">
                    <a href="/" class="cosmic-nav-link active">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
                        </svg>
                        <span class="constellation-nav-text">Home</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/assesment" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path
                                d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
                        </svg>
                        <span class="constellation-nav-text">Assessment</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/courses" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
                        </svg>
                        <span class="constellation-nav-text">Courses</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/about" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                        </svg>
                        <span class="constellation-nav-text">About</span>
                    </a>
                </li>
    
                <li class="orbital-nav-item">
                    <a href="/contact" class="cosmic-nav-link">
                        <svg class="nebula-nav-icon" viewBox="0 0 24 24">
                            <path
                                d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                        </svg>
                        <span class="constellation-nav-text">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    <!-- Start Login Modal -->
    <div class="modal fade ed-auth__modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>

                <!-- Auth Head  -->
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Sign In Now</h3>
                    <p class="ed-auth__modal-text">
                        Didn’t Create an account?
                        <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal">
                            Sign Up
                        </button>
                    </p>
                </div>

                <!-- Auth Body  -->
                <div class="ed-auth__modal-body">
                    <form id="loginForm" action="/api/auth/user-login" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter email" required />
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" name="password" placeholder="Enter password" required id="loginPassword" />
                            <span class="toggle-password" toggle="#loginPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="loginPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input custom-check" type="checkbox" value="" id="flexCheckDefault" />
                                Remember me
                            </label>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="loginSubmitBtn">
                                <span class="btn-text">Sign In</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                        <div class="mt-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" data-bs-dismiss="modal">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Modal -->

    <!-- Toastify CSS & JS (add to your <head> or before this script if not already included) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

   

    <!-- Start Register Modal -->
    <div class="modal fade ed-auth__modal" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>

                <!-- Auth Head  -->
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Sign Up Now</h3>
                    <p class="ed-auth__modal-text">
                        Already have an account?
                        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal">
                            Sign In
                        </button>
                    </p>
                </div>

                <!-- Auth Body  -->
                <div class="ed-auth__modal-body">
                    <form id="registerForm" action="/api/auth/user-register" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Enter full name" required />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter email" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="mobile" placeholder="Enter mobile number" required />
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" name="password" placeholder="Enter password" required id="registerPassword" />
                            <span class="toggle-password" toggle="#registerPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="registerPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault2" style="cursor:pointer;">
                                <input class="form-check-input custom-check" type="checkbox" value="" id="flexCheckDefault2" required />
                                I agree with your <strong>Privacy Policy</strong>
                            </label>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="registerSubmitBtn">
                                <span class="btn-text">Register Now</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <!-- OTP Verification Section (hidden by default, shown after registration) -->
                    <form id="otpForm" action="/api/auth/verify-otp" method="post" class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group">
                            <input type="hidden" name="email" id="otpEmail" />
                            <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="otpSubmitBtn">
                                <span class="btn-text">Verify OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Register Modal -->

    <!-- Start Forgot Password Modal -->
    <div class="modal fade ed-auth__modal" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="ed-auth__modal-content modal-content">
                <button type="button" class="ed-auth__modal-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fi-rr-cross"></i>
                </button>
                <div class="ed-auth__modal-head">
                    <a href="/" class="ed-auth__modal-logo">
                        <img loading="lazy" src="/images/iimf/logo.png" alt="logo" />
                    </a>
                    <h3 class="ed-auth__modal-title">Forgot Password</h3>
                </div>
                <div class="ed-auth__modal-body">
                    <form id="forgotPasswordForm" action="/api/auth/forgot-password" method="post" class="ed-auth__modal-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter your registered email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="forgotSubmitBtn">
                                <span class="btn-text">Send OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <!-- OTP and Reset Password Section (hidden by default, shown after sending OTP) -->
                    <form id="resetPasswordOtpForm" action="/api/auth/verify-otp-password" method="post" class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group">
                            <input type="hidden" name="email" id="resetOtpEmail" />
                            <input type="text" name="otp" placeholder="Enter OTP sent to your email" required />
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="resetOtpSubmitBtn">
                                <span class="btn-text">Verify OTP</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                    <form id="resetPasswordForm" action="/api/auth/reset-password" method="post" class="ed-auth__modal-form" style="display:none;">
                        <div class="form-group position-relative">
                            <input type="hidden" name="email" id="resetEmail" />
                            <input type="password" name="password" placeholder="Enter new password" required id="resetPassword" />
                            <span class="toggle-password" toggle="#resetPassword" style="position:absolute;top:50%;right:12px;transform:translateY(-50%);cursor:pointer;">
                                <i class="fi fi-rr-eye" id="resetPasswordIcon"></i>
                            </span>
                        </div>
                        <div class="ed-auth__form-btn">
                            <button type="submit" class="ed-btn" id="resetPasswordSubmitBtn">
                                <span class="btn-text">Reset Password</span>
                                <span class="btn-loading" style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forgot Password Modal -->

    <script>
        // Helper for Toastify
        function showToast(message, type = "info") {
            Toastify({
                text: message,
                duration: 3500,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: type === "success" ? "#28a745" : (type === "error" ? "#dc3545" : "#24519a"),
                stopOnFocus: true,
            }).showToast();
        }

        // Password show/hide logic
        document.addEventListener('DOMContentLoaded', function () {
            function setupPasswordToggle(toggleSelector, inputSelector, iconSelector) {
                const toggle = document.querySelector(toggleSelector);
                const input = document.querySelector(inputSelector);
                const icon = document.querySelector(iconSelector);
                if (toggle && input && icon) {
                    toggle.addEventListener('click', function () {
                        if (input.type === "password") {
                            input.type = "text";
                            icon.classList.remove('fi-rr-eye');
                            icon.classList.add('fi-rr-eye-crossed');
                        } else {
                            input.type = "password";
                            icon.classList.remove('fi-rr-eye-crossed');
                            icon.classList.add('fi-rr-eye');
                        }
                    });
                }
            }
            setupPasswordToggle('.toggle-password[toggle="#loginPassword"]', '#loginPassword', '#loginPasswordIcon');
            setupPasswordToggle('.toggle-password[toggle="#registerPassword"]', '#registerPassword', '#registerPasswordIcon');
            setupPasswordToggle('.toggle-password[toggle="#resetPassword"]', '#resetPassword', '#resetPasswordIcon');

            // Button loading logic
            function setButtonLoading(btn, isLoading) {
                if (!btn) return;
                const text = btn.querySelector('.btn-text');
                const loading = btn.querySelector('.btn-loading');
                if (isLoading) {
                    if (text) text.style.display = 'none';
                    if (loading) loading.style.display = 'inline-flex';
                    btn.disabled = true;
                } else {
                    if (text) text.style.display = '';
                    if (loading) loading.style.display = 'none';
                    btn.disabled = false;
                }
            }

            // Login form loading
            const loginForm = document.getElementById('loginForm');
            if (loginForm) {
                loginForm.addEventListener('submit', function () {
                    const btn = document.getElementById('loginSubmitBtn');
                    setButtonLoading(btn, true);
                });
            }

            // Registration with OTP logic
            const registerForm = document.getElementById('registerForm');
            const otpForm = document.getElementById('otpForm');
            if (registerForm && otpForm) {
                registerForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('registerSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(registerForm);
                    const payload = {
                        name: formData.get('name'),
                        email: formData.get('email'),
                        mobile: formData.get('mobile'),
                        password: formData.get('password')
                    };

                    try {
                        const res = await fetch('/api/auth/user-register', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(payload)
                        });

                        const data = await res.json();
                        if (data.success && data.email) {
                            registerForm.style.display = 'none';
                            otpForm.style.display = '';
                            document.getElementById('otpEmail').value = data.email;
                            showToast('OTP sent to your email. Please verify.', 'success');
                        } else {
                            showToast(data.message || 'Registration failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                otpForm.addEventListener('submit', async function (e) {
    e.preventDefault();
    const submitBtn = document.getElementById('otpSubmitBtn');
    setButtonLoading(submitBtn, true);

    const email = document.getElementById('otpEmail').value;
    const otp = otpForm.querySelector('input[name="otp"]').value;

    try {
        const res = await fetch('/api/auth/verify-otp', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, otp })
        });

        const data = await res.json();
        if (data.success) {
            showToast(data.message || 'Logged in successfully!', 'success');
            otpForm.style.display = 'none';
            document.getElementById('registerModal').querySelector('.ed-auth__modal-close').click();

            // reload page to reflect logged-in state
            window.location.reload();
        } else {
            showToast(data.message || 'OTP verification failed', 'error');
        }
    } catch (err) {
        showToast('Something went wrong. Please try again.', 'error');
    } finally {
        setButtonLoading(submitBtn, false);
    }
});
            }

            // Forgot password logic
            const forgotPasswordForm = document.getElementById('forgotPasswordForm');
            const resetPasswordOtpForm = document.getElementById('resetPasswordOtpForm');
            const resetPasswordForm = document.getElementById('resetPasswordForm');
            if (forgotPasswordForm && resetPasswordOtpForm && resetPasswordForm) {
                forgotPasswordForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('forgotSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(forgotPasswordForm);
                    try {
                        const res = await fetch('/api/auth/forgot-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success && data.email) {
                            forgotPasswordForm.style.display = 'none';
                            resetPasswordOtpForm.style.display = '';
                            document.getElementById('resetOtpEmail').value = data.email;
                            showToast('OTP sent to your email. Please verify.', 'success');
                        } else {
                            showToast(data.message || 'Failed to send OTP', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                resetPasswordOtpForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('resetOtpSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(resetPasswordOtpForm);
                    try {
                        const res = await fetch('/api/auth/verify-otp-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success && data.email) {
                            resetPasswordOtpForm.style.display = 'none';
                            resetPasswordForm.style.display = '';
                            document.getElementById('resetEmail').value = data.email;
                            showToast('OTP verified. Please enter your new password.', 'success');
                        } else {
                            showToast(data.message || 'OTP verification failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });

                resetPasswordForm.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const submitBtn = document.getElementById('resetPasswordSubmitBtn');
                    setButtonLoading(submitBtn, true);

                    const formData = new FormData(resetPasswordForm);
                    try {
                        const res = await fetch('/api/auth/reset-password', {
                            method: 'POST',
                            body: formData
                        });
                        const data = await res.json();
                        if (data.success) {
                            showToast('Password reset successful! You can now login.', 'success');
                            resetPasswordForm.style.display = 'none';
                            document.getElementById('forgotPasswordModal').querySelector('.ed-auth__modal-close').click();
                        } else {
                            showToast(data.message || 'Password reset failed', 'error');
                        }
                    } catch (err) {
                        showToast('Something went wrong. Please try again.', 'error');
                    } finally {
                        setButtonLoading(submitBtn, false);
                    }
                });
            }
        });
    </script>


    <!-- Start Sidebar  -->
    <div class="offcanvas offcanvas-end ed-sidebar" tabindex="-1" id="edSidebar" aria-labelledby="offcanvasRightLabel">
        <div class="ed-sidebar-header">
            <a href="/" class="ed-sidebar-logo">
                <img src="/images/iimf/logo.png" alt="logo" />
            </a>
            <button type="button" class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fi fi-rr-cross"></i>
            </button>
        </div>
        <div class="ed-sidebar-body m-0">
            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Contacts Us:</h3>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-phone-blue.svg" alt="icon-phone-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>24/7 Support</span>
                        <a href="tel:+914844525521">0484 4525 521</a>
                    </div>
                </div>
                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-envelope-blue.svg" alt="icon-envelope-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Send Message</span>
                        <a href="mailto:eduna@gmail.com">iimf@gmail.com3</a>
                    </div>
                </div>

                <!-- Sigle Info  -->
                <div class="ed-contact__info-item">
                    <div class="ed-contact__info-icon">
                        <img src="/images/icons/icon-location-blue.svg" alt="icon-location-blue" />
                    </div>
                    <div class="ed-contact__info-content">
                        <span>Our Locati0n</span>
                        <a href="#">IIMF Kochi ,Keala,India</a>
                    </div>
                </div>
            </div>

            <!-- Single Widget  -->
            <div class="ed-sidebar-widget">
                <h3 class="ed-sidebar-widget-title">Follow Us:</h3>
                <ul class="ed-sidebar-social">
                      <li>
                            <a href="https://www.facebook.com/iimfacademy" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-facebook.svg" alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
                            <a href="https://x.com/IIFMAcademy" target="_blank"><img loading="lazy" src="/images/iimf/twitter.png"
                                    alt="icon-dark-facebook" /></a>
                        </li>
                        <li>
<a href="https://www.youtube.com/channel/UC9spuSXtDgYxM_iYLtsAZPg" target="_blank"><img loading="lazy" src="/images/iimf/yt.png"
                                    alt="icon-dark-yt" /></a>
                        </li>
                                                <li>
                            <a href="https://www.linkedin.com/company/iimf-academy/" target="_blank"><img loading="lazy" src="/images/iimf/lk.png"
                                    alt="icon-dark-linkedin" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/iimfacademy/" target="_blank"><img loading="lazy"
                                    src="/images/icons/icon-dark-instagram.svg" alt="icon-dark-instagram" /></a>
                        </li>
                </ul>
            </div>


        </div>
        <!-- End Sidebar  -->

        <!-- Start Back To Top  -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- End Back To Top -->

        <!-- Jquery JS -->
        <script src="/plugins/js/jquery.min.js"></script>
        <script src="/plugins/js/jquery-migrate.js"></script>
        <!-- Bootstrap JS -->
        <script src="/plugins/js/bootstrap.min.js"></script>

        <!-- Gsap JS -->
        <script src="/plugins/js/gsap/gsap.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-to-plugin.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-smoother.js"></script>
        <script src="/plugins/js/gsap/gsap-scroll-trigger.js"></script>
        <script src="/plugins/js/gsap/gsap-split-text.js"></script>

        <!-- Wow JS -->
        <script src="/plugins/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/plugins/js/owl.carousel.min.js"></script>
        <!-- Swiper Slider JS -->
        <script src="/plugins/js/swiper-bundle.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/plugins/js/magnific-popup.min.js"></script>
        <!-- CounterUp  JS -->
        <script src="/plugins/js/jquery.counterup.min.js"></script>
        <script src="/plugins/js/waypoints.min.js"></script>
        <!-- Nice Select JS -->
        <script src="/plugins/js/nice-select.min.js"></script>
        <!-- Back To Top JS -->
        <script src="/plugins/js/backToTop.js"></script>
<script>
        const phoneNumber = '919184400799';
        const widgetContainer = document.querySelector('.ctw__contact-widget-container');
        const scrollThreshold = 200; // Show icons after scrolling 200px

        // Show/hide widget based on scroll position
        function handleScroll() {
            if (window.scrollY > scrollThreshold) {
                widgetContainer.classList.add('ctw__visible');
            } else {
                widgetContainer.classList.remove('ctw__visible');
            }
        }

        // Listen to scroll events
        window.addEventListener('scroll', handleScroll);

        // Check initial scroll position
        handleScroll();

        function openWhatsApp() {
            const message = encodeURIComponent('Hello! I would like to get in touch.');
            const whatsappUrl = `https://wa.me/${phoneNumber}?text=${message}`;
            window.open(whatsappUrl, '_blank');
        }

        function makeCall() {
            window.location.href = `tel:+${phoneNumber}`;
        }
    </script>
        <!-- Main JS -->
        <script src="/plugins/js/active.js"></script>
</body>


</html>